<% content_for :title do %>BulldogClip | Help<% end %>
<% content_for :description do %>Account Details Instructions<% end %>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body help-page">
        <h1>Account Details</h1>
        <nav>
          <ul class="nav nav-pills nav-justified" role="navigation">
            <li class="active"><a href="#pwd" data-toggle="pill">Change password</a></li>
            <li><a href="#email" data-toggle="pill">Change email address</a></li>
            <li><a href="#name" data-toggle="pill">Change user name</a></li>
            <li><a href="#vat" data-toggle="pill">Enable VAT</a></li>
        </ul>
        </nav>
      </div>
    </div>
    <div class="panel panel-default col-md-10 col-md-offset-1 tab-content">
      <div class="panel-body help-page tab-pane active" id="pwd">
        <h2>Change your account password</h2>
        <ul>
          <li>From the menu select 'Account' and then 'Change Password'.</li>
          <img src=<%= asset_path('password_menu.png') %> alt="Change password menu item">
          <li>Complete the form with the new password details, repeating the new password in the second field. For security reasons you will need to enter your existing password in the bottom field.</li>
          <img src=<%= asset_path('password_form.png') %> alt="Change password form">
          <li>To confirm your changes select the 'Update' button. Select 'Cancel' to continue using your existing password.</li>
          <li>You should see a success message at the top of the screen informing you that 'You updated your account successfully'. Next time you log into your account you will need to use your new password.</li>
          <img src=<%= asset_path('password_success.png') %> alt="Password change success message">
        </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="email">
        <h2>Change your account email address</h2>
        <ul>
          <li>From the menu select 'Account' and then 'Change Email Address'.</li>
          <img src=<%= asset_path('email_menu.png') %> alt="Change email address menu item">
          <li>You will see the existing email address used for your account. This is the email address used to log into your account and for any correspondence from BulldogClip.</li>
          <img src=<%= asset_path('email_form.png') %> alt="Change email address form">
          <li>To update your email address. Remove the existing one from the form and enter your new details. For security reasons you will need to enter your account password in the bottom field.</li>
          <li>To save the changes select the 'Update' button. To continue using your existing email address select 'Cancel'.</li>
          <li>At the top of the screen you should see the message 'You updated your account successfully, but we need to verify your new email address. Please check your email and click on the confirm link to finalize confirming your new email address.'</li>
          <img src=<%= asset_path('email_confirmation_sent.png') %> alt="Email confirmation sent message">
          <li>You should recieve an email from noreply@bulldogclip.co.uk at your new email address.</li>
          <img src=<%= asset_path('email_change_message.png') %> alt="Email address change confirmation email">
          <li>To confirm the change and start using your new email address follow the link in the email. You should see the message 'Your account was successfully confirmed' at the top of your screen. Your account is now updated to use the new email address.</li>
          <img src=<%= asset_path('email_change_success.png') %> alt="Email change success message">
        </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="name">
        <h2>Change your account user name</h2>
        <ul>
          <li>From the menu select 'Account' and then 'Manage Subscription'.</li>
          <img src=<%= asset_path('subscription_menu.png') %> alt="Manage Subscription menu">
          <li>You will see your current Account Details.</li>
          <li>The account name will be required when we offer access to multiple accounts. This is not the name that will appear on your documents. You may choose to use your name, your company name or something that describes the main use of your account e.g. bussiness or home.</li>
          <li>To change your account user name select the 'Edit' button.</li>
          <img src=<%= asset_path('subscription_show.png') %> alt="Account details show">
          <li>Remove the existing account name from the form and enter your new details.</li>
          <img src=<%= asset_path('account_edit.png') %> alt="Account details edit form">
          <li>To update your account with the new account name select the 'Save' button. To continue using your old account name select 'Cancel'.</li>
          <li>You should the message 'Account successfully updated' at the top of the screen.</li>
          <img src=<%= asset_path('account_update_success.png') %> alt="Account details edit form">
        </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="vat">
        <h2>Enable VAT on your account</h2>
        <ul>
          <li>If you are VAT registered or you work with companies that require VAT invoices you can activate VAT support on your account. With VAT enabled you can add VAT to bills and invoices (see the VAT instructions for more information).</li>
          <li>From the menu select 'Account' and then 'Manage Subscription'.</li>
          <img src=<%= asset_path('subscription_menu.png') %> alt="Manage subscription menu">
          <li>You will see your current Account Details.</li>
          <li>To enable or disable VAT on your account select the 'Edit' button.</li>
          <img src=<%= asset_path('subscription_show.png') %> alt="Account details show">
          <li>Use the 'Enable VAT on bills?' checkbox to select your preference. Checked enables and unchecked disables VAT support.</li>
          <img src=<%= asset_path('account_edit_vat.png') %> alt="Account details edit form">
          <li>To update your settings select the 'Save' button.</li>
          <li>You should see the message 'Account successfully updated'.</li>
          <img src=<%= asset_path('account_update_success.png') %> alt="Success message">
        </ul>
      </div>

    </div>
  </div>
</div>