<% content_for :title do %>Categorise Costs to Easily Track Spending - BulldogClip<% end %>
<% content_for :description do %>Easily understand your outgoings with BulldogClip cloud app. Easily enter your receipts & bills to view charts of your spending organised by category.<% end %>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body help-page">
        <h1>Categories</h1>
        <nav>
          <ul class="nav nav-pills nav-justified" role="navigation">
            <li class="active"><a href="#add" data-toggle="pill">Add a category</a></li>
            <li><a href="#view" data-toggle="pill">View your categories</a></li>
            <li><a href="#rename" data-toggle="pill">Rename a category</a></li> 
          </ul>
        </nav>
      </div>
    </div>
    <div class="panel panel-default col-md-10 col-md-offset-1 tab-content">
      <div class="panel-body help-page tab-pane active" id="add">
        <h2>Add a new category</h2>
        <ul>
          <li>Categories help you to group bills in order to be able to analyse your spending. This could include categories such as travel, stationary, utilities, tools etc.</li>
          <li>You can create new categories when you enter a new bill (see Bills instructions). Just type a new category name into the form and BulldogClip will automatically save it and add it to your categories list when you submit the form.</li>
          <img src=<%= asset_path('new_category.png') %> alt="Adding a new category in the New Bill form">
          <li>Next time you add a new bill you will find the category you added in the dropdown menu.</li>
          <img src=<%= asset_path('saved_category.png') %> alt="Selecting a category from dropdown menu in New Bill form">
        </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="view">
        <h2>View your existing categories</h2>
        <ul>
          <li>From the menu select 'Tools' and then 'Categories'</li>
          <img src=<%= asset_path('category_menu.png') %> alt="Finding Categories in the menu">
          <li>This will open a list of all your existing categories.</li>
          <img src=<%= asset_path('category_list.png') %> alt="List of categories">
        </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="rename">
      <h2>Rename a category</h2>
      <ul>
          <li>You can rename a categories if you have made a spelling mistake or if you want to merge two categories into one.</li>
          <li>From the menu select 'Tools' and then 'Categories'</li>
          <img src=<%= asset_path('category_menu.png') %> alt="Finding Categories in the menu">
          <li>This will open a list of all your existing categories. Select the category that you want to rename from the list by clicking or tapping the row.</li>
          <img src=<%= asset_path('select_category_list.png') %> alt="Selecting a category from the list">
          <li>This will open the Rename Category form. Enter the new name that you want to use for the category. Any bills that are assigned to the old name will be automatically reassigned to the new name. To commit your changes select 'Save'.</li>
          <img src=<%= asset_path('rename_category.png') %> alt="Rename category form">
      </ul>
      </div>
    </div>
  </div>
</div>