<% content_for :title do %>BulldogClip | Help<% end %>
<% content_for :description do %>Customer Instructions<% end %>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body help-page">
        <h1>Customers</h1>
        <nav>
          <ul class="nav nav-pills nav-justified" role="navigation">
            <li class="active"><a href="#add" data-toggle="pill">Add a customer</a></li>
            <li><a href="#store" data-toggle="pill">Store customer details</a></li>
            <li><a href="#view" data-toggle="pill">View customer details</a></li>
            <li><a href="#edit" data-toggle="pill">Edit customer details</a></li>
            <li><a href="#set" data-toggle="pill">Set a default customer</a></li>
        </ul>
        </nav>
      </div>
    </div>
    <div class="panel panel-default col-md-10 col-md-offset-1 tab-content">
      <div class="panel-body help-page tab-pane active" id="add">
      <h2>Add a new customer</h2>
      <ul>
      <li>A customer is the person or organisation that the purchase was made on behalf of or that the bill will be recharged to e.g. client 1, business or home.</li>
        <li>You can add a new customers name when you enter a new bill (see Bills instructions). Just type a new customer name into the form and BulldogClip will automatically save it and add it to your customers list when you submit the form.</li>
          <img src=<%= asset_path('new_customer.png') %> alt="Adding a new customer in the New Bill form">
        <li>Next time you add a new bill you will find the customer you added in the dropdown menu.</li>
          <img src=<%= asset_path('saved_customer.png') %> alt="Adding a new customer in the New Bill form">
          <hr>
        <li>The Customers feature also allows you to add a new customer and store their details for use on documents. If you start a new client project you may want to input there details using this feature so that it is set up for any bills that occur.</li>
        <li>From the menu select 'Tools' and then 'Customers'</li>
        <img src=<%= asset_path('customer_menu.png') %> alt="Finding Customers in the menu">
        <li>This will open a list of all your existing customers.</li>
        <li>To add a new customer select the green 'New Customer' button.</li>
        <img src=<%= asset_path('customer_list.png') %> alt="New customer button">
        <li>This launches the new customer form where you can complete the customers name and address details. If you only have the name you can still add the customer and then edit the details later. Address details will be to format any documents you create for that customer.</li>
        <img src=<%= asset_path('customer_form.png') %> alt="New customer form">
        <li>Selecting 'Set this as my default customer' will automatically set this as the customers name in the New Bill form. This is a useful feature if the majority of the bills you enter are for one customer.</li>
        <li>Once you have completed the form select the green 'Save' button to add the details to your Customers list.</li>
        <img src=<%= asset_path('customer_success.png') %> alt="Customer successfully updated message">
      </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="store">
      <h2>Store customers address details</h2>
      <ul>
        <li>From the menu select 'Tools' and then 'Customers'</li>
        <img src=<%= asset_path('customer_menu.png') %> alt="Finding Customers in the menu">
        <li>This will open a list of all your existing customers.</li>
        <li>Find the customers name in the Customers list and select the row by clicking or tapping.</li>
        <img src=<%= asset_path('select_customer.png') %> alt="Selecting a customer from the customer list">
        <li>This launches the edit customer form. Here you can edit the customers name and complete their address details.</li>
        <img src=<%= asset_path('customer_form.png') %> alt="Edit customer form">
        <li>Selecting 'Set this as my default customer' will automatically populate the customers name in the New Bill form. You can override it by clicking in the form field. This is a useful feature if the majority of the bills you enter are for one customer.</li>
        <li>Once your are happy with the details select 'Save' to update your Customers list. If you change your mind use 'Cancel' to discard any changes you made.</li>
        <img src=<%= asset_path('customer_success.png') %> alt="Customer successfully updated message">
      </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="view">
      <h2>View customers details</h2>
      <ul>
          <li>From the menu select 'Tools' and then 'Customers'</li>
          <img src=<%= asset_path('customer_menu.png') %> alt="Finding Customers in the menu">
          <li>This will open a list of all your existing customers.</li>
          <img src=<%= asset_path('customer_show.png') %> alt="List of customers">
      </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="edit">
      <h2>Edit customers details</h2>
      <ul>
        <li>From the menu select 'Tools' and then 'Customers'</li>
        <img src=<%= asset_path('customer_menu.png') %> alt="Finding Customers in the menu">
        <li>This will open a list of all your existing customers.</li>
        <li>Find the customers name in the Customers list and select the row by clicking or tapping.</li>
        <img src=<%= asset_path('select_customer.png') %> alt="Selecting a customer from the customer list">
        <li>This launches the edit customer form. Here you can edit the customers name and and address details.</li>
        <li>NOTE: Editing the customers name will change the name on any existing bills you have created for that customer.</li>
        <img src=<%= asset_path('customer_edit.png') %> alt="Edit customer form">
        <li>Once your are happy with the details select 'Save' to update your Customers list. If you change your mind use 'Cancel' to discard any changes you made.</li>
      </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="set">
      <h2>Set a default customer</h2>
      <ul>
        <li>From the menu select 'Tools' and then 'Customers'</li>
        <img src=<%= asset_path('customer_menu.png') %> alt="Finding Customers in the menu">
        <li>This will open a list of all your existing customers.</li>
        <li>Find the customer you want to make your default customer in the Customers list and select the row by clicking or tapping.</li>
        <img src=<%= asset_path('select_customer.png') %> alt="Selecting a customer from the customer list">
        <li>This launches the edit customer form. At the bottom of the form is a checkbox for setting your default customer.</li>
        <img src=<%= asset_path('default_customer.png') %> alt="Edit customer form showing default checkbox">
        <li>Selecting 'Set this as my default customer' will automatically populate the customers name in the New Bill form. You can override it by clicking in the form field. This is a useful feature if the majority of the bills you enter are for one customer.</li>
        <li>Once your are happy with the details select 'Save' to update your Customers list. If you change your mind use 'Cancel' to discard any changes you made.</li>
      </ul>
      </div>

    </div>
  </div>
</div>