<% content_for :title do %>BulldogClip | Help<% end %>
<% content_for :description do %>Help Index<% end %>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body info-page">
        <h1>How To Use BulldogClip</h1>

        <p>Throughout the application you will find blue information icons <img src=<%= asset_path('info_btn.png') %> alt="info button" class="info-img"/>. These give you a brief outline of the features on the page you are looking at. Hover your mouse over the icon or tap it once on a touchscreen to activate it.</p><br>
        <p>For more detailed instructions on how to set up your BulldogClip account and use all of its features follow the links below.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body help-page">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'Getting started', '/help/setup' %></li>
          <li><%= link_to 'Bills', '/help/bills' %></li>
          <li><%= link_to 'Document print settings', '/help/print_settings' %></li>
          <li><%= link_to 'Documents and invoices', '/help/invoices' %></li>
          <li><%= link_to 'Analysis and reports', '/help/reports' %></li>
          <li><%= link_to 'Customers', '/help/customers' %></li>
          <li><%= link_to 'Categories', '/help/categories' %></li>
          <li><%= link_to 'Suppliers', '/help/suppliers' %></li>
          <li><%= link_to 'VAT', '/help/vat' %></li>
          <li><%= link_to 'Your account details', '/help/account' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>