<% content_for :title do %>BulldogClip | Help<% end %>
<% content_for :description do %>Add Your Logo Instructions<% end %>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body help-page">
        <h1>Add Your Logo</h1>
        <nav>
          <ul class="nav nav-pills nav-justified" role="navigation">
            <li class="active"><a href="#logo_upload" data-toggle="pill">Upload your logo</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="panel panel-default col-md-10 col-md-offset-1 tab-content">
      <div class="panel-body help-page tab-pane active" id="logo_upload">
        <h2>Upload your logo</h2>
        <ul>
          <li>From the menu select 'Tools' and then 'Invoice Setup'</li>
          <img src=<%= asset_path('invoice_setup_menu.png') %> alt="Navigate to invoice setup">
          <li>Your current print settings will be displayed. Select the green 'Edit' button at the bottom left of the form to update them.</li>
          <img src=<%= asset_path('invoice_setup_show.png') %> alt="Current invoice settings">
          <li>Your current logo details will be displayed at the bottom of the Edit Invoice Print Settings form.</li>
          <li>To upload a logo to your account or change an existing logo select 'Choose File'</li>
          <img src=<%= asset_path('logo_choose_file.png') %> alt="Select choose file button">
          <li>Find the file that you want to upload and select 'Open'.</li>
          <li>You can upload .png and .jpg file types. If your logo is too large it will automatically be resized to fit the maximum width or height available.</li>
          <li>The file name should appear alongside the 'Choose File' button. Once you are happy that you have selected the right file choose 'Save' to upload your file.</li>
          <img src=<%= asset_path('logo_filename.png') %> alt="Logo filename displays">
          <li>A thumbnail image of your logo will be displayed on the invoice settings page and your logo will be included in any documents you create. To change to a different image repeat the steps above.</li>
          <img src=<%= asset_path('logo_thumbnail.png') %> alt="Logo thumbnail on invoice settings">
        </ul>
      </div>
    </div>
  </div>
</div>