<% content_for :title do %>BulldogClip | Help<% end %>
<% content_for :description do %>Document Print Settings<% end %>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body help-page">
        <h1>Documents and Invoices</h1>
        <nav>
          <ul class="nav nav-pills nav-justified" role="navigation">
            <li class="active"><a href="#add_bank" data-toggle="pill">Add your details</a></li>
            <li><a href="#update" data-toggle="pill">Update your details</a></li>
            <li><a href="#include" data-toggle="pill">Include bank details</a></li>
        </ul>
        </nav>
      </div>
    </div>
    <div class="panel panel-default col-md-10 col-md-offset-1 tab-content">
      <div class="panel-body help-page tab-pane active" id="add_bank">
        <h2>Store your contact and bank details</h2>
        <ul>
          <li>When you create a document it will include the contact details you have provided.</li>
          <li>To add your details select 'Tools' from the menu and choose 'Invoice Setup'.</li>
          <img src=<%= asset_path('invoice_setup_menu.png') %> alt="Navigate to invoice setup">
          <li>These are the details that will appear on any documents you create. You will see that your Invoice Print Settings are currently blank. Select the green 'Edit' button at the bottom left of the form to add your details.</li>
          <img src=<%= asset_path('invoice_setup_show.png') %> alt="Blank invoice settings">
          <li>Once you have completed the form you can store your details here for use on any of your documents.</li>
          <img src=<%= asset_path('invoice_setup_add.png') %> alt="Invoice settings edit form">
          <ol>
            <li>Your Address Details - Name, address and postcode are required. Telephone and email are optional.</li>
            <li>Your Bank Details - These details are entirely optional. You may want to include them for documents such as invoices and expense claims. You may wish to store them here so that you have the option to include them.</li>
            <li>Print Preferences - Select the checkbox if you want the default setting for your account to be to include bank details in documents. What ever you choose here you can still turn on and off bank details on a document by document basis.</li>
          </ol>
          <li>Once you have completed all the details you require select the green 'Save' button to store the information for your account.</li>
        </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="update">
      <h2>Update your contact or bank details</h2>
      <ul>
        <li>Select 'Tools' from the menu and choose 'Invoice Setup'.</li>
          <img src=<%= asset_path('invoice_setup_menu.png') %> alt="Navigate to invoice setup">
          <li>Your current contact and bank details will be displayed. Select the green 'Edit' button at the bottom left of the form to update them.</li>
          <img src="invoice_setup_show" alt="Current invoice settings">
          <li>Once you have made all the changes you require select the green 'Save' button to update your account.</li>
          <img src=<%= asset_path('invoice_setup_add.png') %> alt="Invoice settings edit form">
      </ul>
      </div>


      <div class="panel-body help-page tab-pane" id="include">
      <h2>Include your bank details in your documents by default</h2>
      <ul>
        <li>To set the default setting to include your bank details in your documents select 'Tools' from the menu and choose 'Invoice Setup'.</li>
        <img src=<%= asset_path('invoice_setup_menu.png') %> alt="Navigate to invoice setup">
        <li>Your current Print Settings will be displayed towards the bottom of the page. Select the green 'Edit' button to update them.</li>
        <img src="" alt="Current invoice settings">
        <li>At the bottom of the form you can set 'Print Preferences' - Select the checkbox if you want the default setting for your account to be to include bank details in documents.</li>
        <img src=<%= asset_path('invoice_setup_add.png') %> alt="Invoice settings edit form"> 
        <li>Your account will now default to include bank details, however, you can still turn bank details on and off on a document by document basis.</li>
        <li>When you create a new document (see 'Creating a document or invoice') you will see a checkbox asking if you want to 'Include bank details?'.</li>
        <li>If you have bank details set as default it will already be checked. You can uncheck it if you do not wish to include details on that particular document. If you do not have it set as default you can still check the box to include bank details.</li>
        <img src="" alt="Include bank details checkbox on invoice edit screen">
      </ul>
      </div>
    </div>
  </div>
</div>