<% content_for :title do %>How to Manage Your Expenses Online With BulldogClip<% end %>
<% content_for :description do %>Get started today. Record your receipts, track your costs & create professional invoices with BulldogClips easy to use software. Business & personal plans.<% end %>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body help-page">
        <h1>Getting Started</h1>
        <nav>
          <ul class="nav nav-pills nav-justified" role="navigation">
            <li class="active"><a href="#navigate" data-toggle="pill">Find your way around</a></li>
            <li><a href="#first_bill" data-toggle="pill">Enter your first bill</a></li>
            <li><a href="#setup" data-toggle="pill">Setup your account</a></li>
        </ul>
        </nav>
      </div>
    </div>
    <div class="panel panel-default col-md-10 col-md-offset-1 tab-content">
      <div class="panel-body help-page tab-pane active" id="navigate">
        <h2>Finding your way around</h2>
        <!-- <p>It won't take you long to find your way around with BulldogClip's simple navigation tools.</p> -->
        <ul>
          <li>On the homepage choose from one of the 6 icons. Click or tap on the panel to make your selection.</li>
          <img src=<%= asset_path('homepage_menu.png') %> alt="Homepage navigation panels">
          <li>Hovering or tapping on the Tools and Account panels will turn them over to reveal more options.</li>
          <img src=<%= asset_path('flip_menu.png') %> alt="Panels flip to reveal more options">
          <li>From any page you can hover your mouse over or tap on the top bar to show the drop-down menu.</li>
          <img src=<%= asset_path('subnav.png') %> alt="Dropdown menu bar">
          <li>To return to the homepage select the logo in the top left corner.</li>
          <img src=<%= asset_path('return_to_home.png') %> alt="Return to homepage">
        </ul>
      </div>


      <div class="panel-body help-page tab-pane" id="first_bill">
        <h2>Entering your first bill</h2>
        <!-- <p>It won't take you long to find your way around with BulldogClip's simple navigation tools.</p> -->
        <ul>
          <li>Navigate to the Bills page and select the green 'New' button to the top left of the screen. This will open a new bill form.</li>
          <img src=<%= asset_path('new_bill_btn.png') %> alt="New bill button">
          <li>Enter the details of your bill into the form.</li>
          <img src=<%= asset_path('new_bill_modal.png') %> alt="New bill form">
          <ol>
            <li>Enter the date the bill occured. You can use the dropdown date picker provided or type it in using the format shown.</li>
            <li>You can enter new customers, suppliers and categories by typing their names into the box provided. The next time you use the form their name will appear in the dropdown menu.<br>'Customer' is who the purchase was on behalf of or who the bill will be recharged to e.g. client 1, business or home. 'Supplier' is the name of the provider of the product or service you purchased. Categories allow you to group bills for analysis e.g. stationary, travel, utilities.</li>
            <li>The description is optional and can be used to make notes to yourself about a bill.</li>
            <li>Enter the amount excluding the £ sign which will be added for you. For example £20.00 can be entered as '20' or '20.00'.</li>
          </ol>
          <li>Once you are happy with the details select 'Save' to add the bill to your bills list. If you do not want to add the bill select 'Cancel' to delete it.</li>
          <img src=<%= asset_path('bill_success.png') %> alt="New bill success message">
          <li>Saving will return you to the bills list. Your new bill should appear in the list. You should see a green alert message 'Bill was successfully created' accross the top of the screen.</li>
        </ul>
      </div>


      <div class="panel-body help-page tab-pane" id="setup">
        <h2>Setting up your account</h2>
        <ul>
          <li>To get the most out of your BulldogClip account it is worth taking a few minutes to set up your account.</li>
          <li>Select Tools from the menu and choose Document Setup.</li>
          <img src=<%= asset_path('invoice_setup_menu.png') %> alt="Navigate to document setup">
          <li>These are the details that will appear on any documents you create. You will see that your Document Print Settings are currently blank. Select the green 'Edit' button at the bottom left of the form to add your details.</li>
          <img src=<%= asset_path('invoice_setup_show.png') %> alt="Blank document settings">
          <li>Once you have completed the form you can store your details here for use on any of your documents.</li>
          <img src=<%= asset_path('invoice_setup_add.png') %> alt="Document settings edit form">
            <ol>
              <li>Your Address Details - Name, address and postcode are required. Telephone and email are optional.</li>
              <li>Your Bank Details - These details are entirely optional. You may want to include them for documents such as invoices and expense claims. You may wish to store them here so that you have the option to include them.</li>
              <li>Print Preferences - Select the checkbox if you want the default setting for your account to be to include bank details in documents. What ever you choose here you can still turn on and off bank details on a document by document basis.</li>
            </ol>
            <li>Once you have completed all the details you require select the green 'Save' button to store the information for your account.</li>
        </ul>
      </div>
  </div>

