<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex,nofollow">
    <title>BulldogClip | Subscription Invoice</title>
  </head>
  <body>
    <table style="width: 98%;">
      <table style="width:100%;max-width: 600px;">

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">Hello <%= @account.email %>,
          </td>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>

        <tr>
          <th style="height: 37px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;font-style: bold;border-top: 1px solid black;border-bottom: 1px solid black;text-align: center;">BulldogClip Subscription Invoice
          </th>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">Thank you for subscribing to BulldogClip. Below is your PAID subscription invoice for your records.
          </td>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>

        <tr>
          <td style="border-top: 1px dashed #000000; height:1px" /></td>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
          Invoice Number:
          </td>
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
          <%= @invoice.id %>
          </td>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
          Invoice Date: 
          </td>
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;text-align: right;">
          <%= Time.at(@invoice.date).strftime("%d %B %Y") %>
          </td>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>

        <tr>
          <th style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;font-style: bold;text-align:left;">CUSTOMER DETAILS:
          </th>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
            Email: <%= @account.email %>
          </td>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
            Payment Method: <%= @charge.card.type %> ending in <%= @charge.card.last4 %>
          </td>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>
      </table>

      <table style="width:100%;max-width: 600px;">
        <col style="width: 70%">
        <col style="width: 30%">

        <tr>
          <th style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;font-style: bold;text-align:left;">TRANSACTION DETAILS:
          </th>
        </tr>

        <% @invoice.lines.each do |line| %>
        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
            <%= line.description || "Subscription to #{line.plan.name} plan:" %>
          </td>
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px; text-align: right">
            <%= number_to_currency(line.amount/100) %>
          </td>
        </tr>
        <% end %>

        <tr>
          <td style="height: 10px;">
          </td>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
            Invoice Total: 
          </td>
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px; text-align: right">
            <%= number_to_currency(@invoice.total/100) %>
          </td>
        </tr>

        <tr>
          <td style="height: 10px;">
          </td>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
            Starting Account Balance: 
          </td>
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px; text-align: right">
            <%= number_to_currency(@invoice.starting_balance/100) %>
          </td>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
            Amount Paid: 
          </td>
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px; text-align: right">
            <%= number_to_currency(@invoice.amount_due/100) %>
          </td>
        </tr>

        <tr style="height: 10px;">
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
            Closing Account Balance: 
          </td>
          <td style="color: #000000;font-family: Arial, Sans-serif;font-size: 14px; text-align: right">
            <%= number_to_currency(@invoice.ending_balance/100) %>
          </td>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>
      </table>

      <table style="width:100%;max-width: 600px;">
        <tr>
          <td style="border-top: 1px dashed #000000; height:1px" /></td>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>

        <tr>
          <td style="height: 37px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">We have debited your card for the amount due. This transaction will appear on your bank statement as "BULLDOGCLIP.CO.UK".
          </td>
        </tr>

        <tr>
          <td style="height: 37px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">If you have any questons, please feel free to contact us at hello@bulldogclip.co.uk.
          </td>
        </tr>

        <tr>
          <td style="height: 10px;">
          </td>
        </tr>

        <tr>
          <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">Regards,
          </td>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>

        <tr>
          <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">The BulldogClip team
          </td>
        </tr>

        <tr>
          <td style="height: 20px;">
          </td>
        </tr>

        <tr>
          <td style="border-top: 1px solid #d0d0d0;height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
          </td>
        </tr>

        <tr>
          <td style="color: #777777;font-size: 12px;height: 27px;font-family: Arial, Sans-serif;">BulldogClip is provided by Owen Bannister Limited. Registered office: 9 Alba Close, Middleleaze, Swindon, Wiltshire, UK. Company registration number: 08675874.
          </td>
        </tr>
        <tr>
          <td style="color: #777777;font-size: 12px;height: 27px;font-family: Arial, Sans-serif;">This email is confidential and intended solely to whom it is addressed. It may contain sensitive or privileged information. If you have received this email in error, please inform us at hello@bulldogclip.co.uk and destroy it.
          </td>
        </tr>
        <tr>
          <td style="color: #777777;font-size: 12px;height: 27px;font-family: Arial, Sans-serif;">Questions? contact us at hello@bulldogclip.co.uk
          </td>
        </tr>
      </table>

    </table>
  </body>
</html>
