<% content_for :title do %>BulldogClip | Change Email Address<% end %>
<% content_for :description do %>Reset BulldogClip email<% end %>
<!-- This is intended to be used with a modified registrations controller
      to allow the editing of email address on its own. NOT implemented yet -->
<div class="container">
  <div class="col-md-4 col-md-offset-4 panel panel-default">
    <div class="panel-body">
      <div class="authform">
        <h1>Change Email Address</h1>
        <p>An email will be sent to the new email address to confirm the address change</p>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
          <%#= devise_error_messages! %>
          <%= f.hidden_field :edit_email %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, class: 'form-control', type: "email" %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <%= errors_for(f, :email) %>
          </div>

          <fieldset>
          <br>
            <p>You must enter your current password to make changes.</p>
            <%= form_group_for f, :current_password, label: false do %>
              <div class="form-group">
                <%= f.label :'Current password*' %>
                <%= f.password_field :current_password, class: 'form-control', placeholder: 'Enter current password' %>
              </div>
            <% end %>
          </fieldset>
          <%= link_to 'Cancel', welcome_index_path, class: 'action-btn std-btn', data: {toggle: "tooltip"}, title: "Cancel and return to home page"  %>
          <%= f.submit 'Update', :class => 'create-btn std-btn', data: {toggle: "tooltip"}, title: "Update your email address"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>