<tr>
  <% if params[:action] == 'edit' %>
    <td class="remove-col"><%= check_box_tag "bill_ids[]", f.id %></td>
  <% end %>
  <td class="first-col date-col"><%= f.date %></td>
  <td class="supplier-col"><%= f.supplier_name %></td>
  <td class="category-col"><%= f.category_name %></td>
  <td class="description-col"><%= f.description %></td>
  <td class="align-right amount-col"><%= number_to_currency(f.amount) %></td>
  <% if current_account.vat_allowed? %>
    <td class="vat-rate-col"><%= f.vat_rate_name %></td>
    <td class="align-right amount-col"><%= number_to_currency(f.vat) %></td>
  <% end %>
</tr>