<%= f.hidden_field :account_id %>

<% if params[:action] == 'new' %>

<%= form_group_for f, :customer_id, label: false do%>
  <div class="customer-select invoice-edit">
    <%= f.collection_select :customer_id, @customers, :id, :name%>
  </div>
<% end %>

<% else %>
  <table class="invoice-edit">
    <tr>
      <th class="th-invoice">Customer:</th>
      <td class="td-invoice"><%= @invoice.customer_name %></td>
    </tr>
  </table>
<% end %>

<%= form_group_for f, :date, label: false do %>
  <div class="input-group invoice-edit">
    <%= f.label :name, "Date:" %>
    <%= f.text_field :date, class: "date_picker invoice-date-picker" %>
  </div>
<% end %>

<%= form_group_for f, :header_id, label: false do %>
  <div class="input-group invoice-edit invoice-header">
    <%= f.label :header, "Header:" %>
    <%= f.text_field :header_id, data: {headers: get_header_data}, placeholder: "Header - will appear on printed document" %>
  </div>
<% end %>

<%= form_group_for f, :comment, label: false do %>
  <div class="input-group invoice-edit">
    <%= f.label :comment, "Comment:" %>
    <%= f.text_area :comment, placeholder: "Document comment - appears on PDF", class: 'form-control' %>
  </div>
<% end %>

<% if current_account.vat_allowed? %>
  <%= form_group_for f, :include_vat, label: false do %>
    <div class="input-group invoice-edit">
      <%= f.label :include_vat, :class => "check"%>
      <%= f.check_box :include_vat %>
    </div>
  <% end %>
<% end %>

<%= form_group_for f, :include_bank, label: false do %>
  <div class="input-group invoice-edit">
    <%= f.label :include_bank, :class => "check" %>
    <%= f.check_box :include_bank %>
  </div>
<% end %>

<%= f.submit 'Save Changes', class: 'create-btn std-btn', data: {toggle: "tooltip"}, title: "Save changes"  %>

<% if session[:new_invoice] == true then %>
  <% session[:new_invoice] = nil %>
<% else %>
  <%= link_to 'Cancel', invoices_path, class: 'action-btn std-btn', data: {toggle: "tooltip"}, title: "Cancel and return to document list"  %>
<% end %>

<%= link_to 'Delete', @invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'warn-btn std-btn', title: "Delete document and return bills to pool"  %>
