<%= form_for @invoice do |f| %>
  <%= f.hidden_field :account_id %>
  <%= form_group_for f, :date, label: false do %>
    <%= f.text_field :date, class: "date_picker" %>
  <% end %>
  <%= form_group_for f, :customer_id, label: false do %>
    <%= f.collection_select :customer_id, @customers, :id, :name %>
  <% end %>
  <%= form_group_for f, :comment, label: false do %>
    <%= f.text_area :comment %>
  <% end %>

  <table class="table" id="bill_table">
    <tr>
      <th>Date</th>
      <th>Supplier</th>
      <th>Category</th>
      <th>Description</th>
      <th style="text-align: right">Amount</th>
      <% if params[:action] == 'edit' %>
        <td>remove?</td>
      <% end %>
    </tr>
      <% @invoice.bills.each do |bill| %>
        <%= render 'bill_fields', f: bill %>
      <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Total </td>
      <td style="text-align: right"><%= number_to_currency(@invoice.total) %></td>
    </tr>
  </table>

  <% case params[:action] %>
    <% when 'edit' %>
      <%= f.submit 'Update Invoice', class: 'btn btn-primary' %>
      <%= link_to 'Destroy', @invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% when 'new' %>
      <%= f.submit 'Create Invoice', class: 'btn btn-primary' %>
    <% when 'create' %>
      <%= f.submit 'Create Invoice', class: 'btn btn-primary' %>
    <% when 'show' %>
      <%=  link_to 'Edit', edit_invoice_path(@invoice), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to params[:action] == 'show' ? "Back" : "Cancel", invoices_path, class: 'btn btn-warning' %>  

<% end %>