<div class="panel panel-default col-md-6 col-sm-8 invoice_header">
    <div class="panel-body">
        <table class="invoice-show">
          <tr>
            <th class="th-invoice">Customer:</th>
            <td class="td-invoice"><%= @invoice.customer_name %></td>
          </tr>
          <tr>
            <th class="th-invoice">Document Date:</th>
            <td class="td-invoice"><%= @invoice.date %></td>
          </tr>
          <tr>
            <th class="th-invoice">Header:</th>
            <td class="td-invoice"><strong><%= @invoice.header_name %></strong></td>
          </tr>
          <tr>
            <th class="th-invoice th-comment">Comment:</th>
            <!-- <td class="td-invoice"><%#= simple_format(@invoice.comment) %> -->
            <td class="td-invoice"><%= simple_format truncate(@invoice.comment, length: 190, separator: ' ') %>
            </td>
          </tr>
          <% if current_account.vat_allowed? %>
            <tr>
              <th class="th-invoice">Print VAT details?</th>
              <!-- <td class="td-invoice"><%= checkbox_image(@invoice.include_vat).html_safe %></td> -->
              <td class="td-invoice"><%= @invoice.include_vat ? "Yes" : "No" %></td>
            </tr>
          <% end %>
          <tr>
            <th class="th-invoice">Print Bank details?</th>
            <!-- <td class="td-invoice"><%= checkbox_image(@invoice.include_bank).html_safe %></td> -->
            <td class="td-invoice"><%= @invoice.include_bank ? "Yes" : "No" %></td>
          </tr>
        </table>

          <%=  link_to 'Edit', edit_invoice_path(@invoice), class: 'create-btn std-btn', data: {toggle: "tooltip"}, title: "Edit selected document"  %>

          <%= link_to "Back", invoices_path, class: 'action-btn std-btn', data: {toggle: "tooltip"}, title: "Return to document list"  %>

          <%= link_to "Print Preview", invoice_path(@invoice, format: "pdf"), class: 'create-btn std-btn', target: "_blank", data: {toggle: "tooltip"}, title: "Download PDF of document for print or email"  %>
      </div>
    </div>


