
  <div>
    <p><strong>Invoice Date: </strong><%= @invoice.date %></p>
  </div>

  <div class="input-group">
    <p><strong>Customer: </strong> <%= @invoice.customer_name %></p>
  </div>

  <div>
    <p><strong>Comment: </strong> <%= simple_format(@invoice.comment) %></p>
  </div>

  <%=  link_to 'Edit', edit_invoice_path(@invoice), class: 'create-btn std-btn' %>

  <%= link_to "Back", invoices_path, class: 'action-btn std-btn' %>
  
  <%= link_to "Print Preview", invoice_path(@invoice, format: "pdf"), class: 'create-btn std-btn', target: "_blank" %>  

  <%= render 'form' %>