<div class="table-responsive">
  <table class="table table-hover table-condensed" id="invoice_table">
    <thead>

      <tr>
        <th class="first-col number-col"><%= sortable "id", "No." %> <%= arrow "id" %></th>
        <th class="date-col"><%= sortable "date", "Date" %> <%= arrow "date" %></th>
        <th class="customer-col"><%= sortable "customers.name", "Customer" %> <%= arrow "customers.name" %></th>
        <th class="comment-col"><%= sortable "comment", "Comment" %> <%= arrow "comment" %></th>
        <th class="amount-col"><%= sortable "total", "Amount" %> <%= arrow "total" %></th>
      </tr>
    </thead>
    <tbody id="invoice_index_table">
    </tbody>
  </table>
</div><!--end table responsive -->
<div>
<div class="panel-body" id="tutorials">
  <video id="first_invoice_video" class="img-responsive video-js vjs-default-skin first-video" title="Watch video" poster=<%= asset_path('first_invoice_postit.png') %> >
    <source src= <%= video_path('First_invoice_video.mp4') %> type='video/mp4' />
    <source src= <%= video_path('First_invoice_video.webm') %> type='video/webm' />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>
</div>