<% content_for :title do %>BulldogClip | Edit Document<% end %>
<% content_for :description do %>Edit document<% end %>
<div class="container">
    <h1>Document <%= @invoice.number %></h1>

     <a href="#" id="pop" class="info-btn pop"
     data-title="Edit Document"
     data-content="
     <ul class='info-ul'>
     <li>Select any bills that you want to remove from the document. Once you are happy with all your changes use the 'Save Changes' button to confirm.</li>
     <li>Use 'Delete' to remove the document and return all the bills to the the pool.
     <li>*Note if you have created a document for the wrong customer, delete this document, then edit the bills to be associated with the correct customer before creating a new document.</li>
     <li>The 'Print Preview' button will generate a PDF of the fully formatted document in a new window for you to download or print.</li>
     <li>To return to the document index use 'Cancel'</li>
     </ul>">
     <img src=<%= asset_path('info_btn.png') %> alt="info button" class="info-img"/>
     </a>

  <%= form_for @invoice do |f| %>
    <div class="panel panel-default col-md-6 col-sm-8" style="float:none">
      <div class="panel-body">
        <%= render 'edit_header', f: f %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', f: f %> 
      </div>
    </div>
  <% end %><!-- end of form_for -->
</div>