<% content_for :title do %>BulldogClip | Documents<% end %>
<% content_for :description do %>BulldogClip documents index<% end %>

<div class="container">
  <h1>Documents</h1>
     <a href="#" id="pop" class="info-btn pop"
     data-title="Documents Index"
     data-content="
     <ul class='info-ul'>
     <li>This is a list of all your documents.</li>
     <li>You must have bills in the system before you can create a document.</li>
     <li>Select a row to show or edit document details.</li>
     <li>Use 'New Document' to create a document.</li>
     <li>Use 'Filter' to find a document by date, customer or comment.</li>
     <li>Use 'Clear' to reset the data removing any filters</li>
     <li>Click on column headings to sort the data table.</li>

     </ul>">
     <img src=<%= asset_path('info_btn.png') %> alt="info button" class="info-img"/>
     </a>

  <%#= render 'filter_form' %>

  <div class="panel panel-default">
    <div class="panel-body">
    <div>
          <a class="create-btn std-btn" href='#' data-toggle="modal" data-target="#invoice_filter_modal" title="Select criteria to filter the list by">Filter</a>
          <%#= submit_tag "Filter", name: nil, class: "create-btn std-btn", data: {toggle: "tooltip"}, title: "Submits filter choices to refresh data" %>
          <%= link_to "Clear", invoices_path, class: "action-btn std-btn", data: {toggle: "tooltip"}, title: "Clear current filters" %>
          <%= link_to "New Document", new_invoice_path, class: "create-btn std-btn", data: {toggle: "tooltip"}, title: "Create a new document." %>
        </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed" id="invoice_table">
          <thead>

            <tr>
              <th class="first-col number-col"><%= sortable "id", "No." %> <%= arrow "id" %></th>
              <th class="date-col"><%= sortable "date", "Date" %> <%= arrow "date" %></th>
              <th class="customer-col"><%= sortable "customers.name", "Customer" %> <%= arrow "customers.name" %></th>
              <th class="comment-col"><%= sortable "comment", "Comment" %> <%= arrow "comment" %></th>
              <th class="amount-col"><%= sortable "total", "Amount" %> <%= arrow "total" %></th>
            </tr>
          </thead>
          <tbody id="invoice_index_table">
            <%# @invoices.each do |invoice| %>
            <%= render @invoices %>
            <%# end %>
          </tbody>
        </table>
      </div><!--end table responsive -->
      <div id="paginator"><%= paginate @invoices, remote: true %></div>
    </div><!--end panel body -->
  </div><!--end panel-->
</div><!-- end container -->
<%= render 'filter_modal' %>