<% content_for :title do %>Bulldog-Clip | Invoices<% end %>
<% content_for :description do %>Bulldog-Clip invoices index<% end %>

<div class="container">
  <h1>Invoices List</h1>
       <a href="#" id="pop" class="info-btn pop" data-trigger="hover" data-placement="left auto" data-container= "body" data-original-title="Invoices" data-content="This table lists all your invoices. Click on a row to see the details of an invoice. You can filter the list by customer or text within the comment. Click on a column heading to sort by that column. Use the New Invoice button to create a new invoice. "><img src="/assets/info_btn.png" alt="info button" class="info-img"/></a>

  <div class="panel panel-default col-md-4" style="float:none">
    <div class="panel-body">
      <%= form_tag invoices_path, method: 'get', id: "invoices_search" do %>
      <div class="form-group">
        <!-- <label class="title">Filter invoices:</label> -->
        <h2 class="filter">Filter invoices</h2>
          <%= hidden_field_tag :inv_customer_id, params[:inv_customer_id], data: {customers: get_customer_data} %>
      </div>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "search-query form-control", placeholder: ' by text within comment' %>
      </div>
      <div>
        <%= submit_tag "Filter", name: nil, class: "action-btn std-btn" %>
        <%= link_to "New Invoice", new_invoice_path, class: "create-btn std-btn" %>        
      </div>
      <% end %><!-- end of form -->
    </div><!--end panel body -->
  </div><!--end panel-->    

  <div class="panel panel-default">
    <div class="panel-body">             
      <div class="table-responsive">
        <table class="table table-hover table-condensed" id="invoice_table">
          <thead>

            <tr>
              <th class="first-col number-col"><%= sortable "id", "No." %> <%= arrow "id" %></th>
              <th class="date-col"><%= sortable "date", "Date" %> <%= arrow "date" %></th>
              <th class="customer-col"><%= sortable "customers.name", "Customer" %> <%= arrow "customers.name" %></th>
              <th class="comment-col"><%= sortable "comment", "Comment" %> <%= arrow "comment" %></th>
              <th class="amount-col"><%= sortable "total", "Amount" %> <%= arrow "total" %></th>
            </tr>
          </thead>
          <tbody>
            <% @invoices.each do |invoice| %>
              <tr title="click to show details", class="pointer rowlink",
                  data-rowlink="<%= invoice_path(invoice)%>">
                <td class="first-col number-col"><%= invoice.number %></td>
                <td class="date-col"><%= invoice.date %></td>
                <td class="customer-col"><%= invoice.customer_name %></td>
                <td class="comment-col"><%= simple_format(invoice.comment) %></td>
                <td class="align-right amount-col"><%= number_to_currency(invoice.total) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!--end table responsive -->
      <%= paginate @invoices %>
    </div><!--end panel body -->
  </div><!--end panel-->  
</div><!-- end container -->