<% content_for :title do %>Bulldog-Clip | Password Reset<% end %>
<% content_for :description do %>Reset Bulldog-Clip password<% end %>

<div class="container">
  <div class="col-sm-4 col-sm-offset-4 panel panel-default">
    <div class="panel-body forgot-pwd">
    <!-- <div class="authform"> -->
      <%= form_for(resource, :as => resource_name, 
                             :url => password_path(resource_name), 
                             :html => { :method => :post, :role => 'form'}) do |f| %>
        <h1>Forgot your password?</h1>
        <p>Enter your account email address and we will send you instructions to reset your password.</p>
        <%#= devise_error_messages! %>
        <div class="form-group">
          <%= form_group_for f, :email, label: false do %>      
            <%= f.label :email, 'Email address' %>
            <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Enter email address' %>
          <% end %>
        </div>
          <%= f.submit 'Reset Password', :class => 'create-btn std-btn pull-right' %>
          <a href="/home" class="action-btn std-btn pull-right">Cancel</a>
      <% end %>
    </div>
  </div>
</div>