<tr title="click to edit", class="pointer rowlink",
    data-url="<%= edit_bill_path(bill)%>">
  <td class="first-col date-col"><%= bill.date %></td>
  <td class="customer-col"><%= bill.customer_name %></td>
  <td class="supplier-col"><%= bill.supplier_name %></td>
  <td class="category-col"><%= bill.category_name %></td>
  <td class="description-col-sm"><%= bill.description %></td>
  <td class="align-right amount-col"><%= number_to_currency(bill.amount) %></td>
  <% if current_account.vat_enabled? %>
    <td class="vat-rate-col"><%= bill.vat_rate_name %></td>
    <td class="align-right amount-col"><%= number_to_currency(bill.vat) %></td>
  <% end %>
</tr>