<tr title="click to edit", class="pointer rowlink",
    data-rowlink="<%= edit_bill_path(bill)%>">
  <td class="first-col"><%= bill.date %></td> 
  <td><%= bill.customer_name %></td>
  <td><%= bill.supplier_name %></td>
  <td><%= bill.category_name %></td>
  <td><%= bill.description %></td>
  <td class="align-right"><%= number_to_currency(bill.amount) %></td>
</tr>