<%#= form corrupted to prove it isn't needed anymore %>
<%#= form_for @bill, remote: true do |f| %>
  <%= f.hidden_field :account_id %>
  <div class="form-group">
    <%= f.text_field :date, class: "date_picker form-control", :autofocus=>true %>
  </div>
  <%= form_group_for f, :customer_id, label: false do %>
    <%= f.hidden_field :customer_id, data: {customers: get_customer_data} %>
  <% end %>
  <%= form_group_for f, :supplier_id, label: false do %>
    <%= f.hidden_field :supplier_id, data: {suppliers: get_supplier_data} %>
  <% end %>
  <%= form_group_for f, :category_id, label: false do %>
    <%= f.hidden_field :category_id, data: {categories: get_category_data} %>
  <% end %>
  <%= form_group_for f, :description, label: false do %>
    <%= f.text_field :description, placeholder: 'Description', class: "form-control" %>
  <% end %>
  <%= form_group_for f, :amount, label: false do %>
  <div class= "field_with_errors">
  <span class="currency-sign">£</span>
    <%= f.text_field :amount, placeholder: 'Amount', class: "form-control currency" %>
  <% end %>
  </div>
  <%= f.submit 'Save', class: 'create-btn std-btn' %>
  <% if params[:action] == 'edit' %>
    <%= link_to 'Delete', @bill, method: :delete, data: { confirm: 'Are you sure?' }, class: 'warn-btn std-btn' %>
  <% end %>
  <%= link_to "Cancel", bills_path, class: "action-btn std-btn", remote: true %>
  <%#= link_to "Cancel", '#', class: "action-btn std-btn", data: {dismiss: "modal"} %>
<% end %> <!-- end of form_for -->
