<% content_for :title do %>Bulldog-Clip | Bills<% end %>
<% content_for :description do %>Bulldog-Clip bills index<% end %>

<div class="container">

  <h1>Bills</h1>

     <a href="#" id="pop" class="info-btn pop" data-trigger="hover" data-placement="left" data-container= "body" data-original-title="About this page" data-content="All of your existing bills are listed in the table below. You can edit a bill from the table by clicking anywhere on the row it appears in. Use the 'New' button to create a new bill. The 'Export' button allows you to download your bills as a file to save or use the data elsewhere"><img src="/assets/info_btn.png" alt="info button" class="info-img"/></a>

  <div class="panel panel-default">
    <div class="panel-body">

      <%= link_to "New", new_bill_path, class: "create-btn std-btn"  %>
      <%= link_to "Export", bills_path(format: "csv"), class: "action-btn std-btn"  %>



      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="first-col"><%= sortable "date", "Date" %> <%= arrow "date" %></th>
              <th><%= sortable "customers.name", "Customer" %> <%= arrow "customers.name" %></th>
              <th><%= sortable "suppliers.name", "Supplier" %> <%= arrow "suppliers.name" %></th>
              <th><%= sortable "categories.name", "Category" %> <%= arrow "categories.name" %></th>
              <th><%= sortable "description", "Description" %> <%= arrow "description" %></th>
              <th class="align-right"><%= sortable "amount", "Amount" %> <%= arrow "amount" %></th>
            </tr>
          </thead>
          <tbody>
          <% @bills.each do |bill| %>
            <tr title="click to edit", class="pointer rowlink",
                data-rowlink="<%= edit_bill_path(bill)%>">
              <td class="first-col"><%= bill.date %></td> 
              <td><%= bill.customer_name %></td>
              <td><%= bill.supplier_name %></td>
              <td><%= bill.category_name %></td>
              <td><%= bill.description %></td>
              <td class="align-right"><%= number_to_currency(bill.amount) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div><!--end table responsive -->


      <%= paginate @bills %>
    </div><!--end panel body -->
  </div><!--end panel -->

</div><!--end container -->
