<% content_for :title do %>BulldogClip | Bills<% end %>
<% content_for :description do %>BulldogClip bills index<% end %>

<div class="container">

  <h1>Bills</h1>

     <a href="#" id="pop" class="info-btn pop"
     data-title="Bills Index"
     data-content="
     <ul class='info-ul'>
     <li>All of your uninvoiced bills are listed here.</li>
     <li>Use 'New' to enter a new bill.</li>
     <li>You can edit or delete a bill by selecting the row in the table.</li>
     <li>'Export' downloads the table as a CSV file.</li>
     <li>Click on column headings to sort the data table.</li>
     <li>Go to the Analysis page if you want to find specific bills that have already been invoiced.</li>
     </ul>">
     <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
     </a>

     <!-- data-trigger="hover" data-placement="left" data-container= "body" -->

  <div class="panel panel-default">
    <div class="panel-body">

      <%= link_to "New", new_bill_path, remote: true, class: "create-btn std-btn", data: {toggle: "tooltip"}, title: "Create a new bill" %>
      <%= link_to "Export", bills_path(format: "csv"), class: "action-btn std-btn", data: {toggle: "tooltip"}, title: "Download a CSV file of your bills"  %>

      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="first-col date-col"><%= sortable "date", "Date" %> <%= arrow "date" %></th>
              <th class="customer-col"><%= sortable "customers.name", "Customer" %> <%= arrow "customers.name" %></th>
              <th class="supplier-col"><%= sortable "suppliers.name", "Supplier" %> <%= arrow "suppliers.name" %></th>
              <th class="category-col"><%= sortable "categories.name", "Category" %> <%= arrow "categories.name" %></th>
              <th class="description-col-sm"><%= sortable "description", "Description" %> <%= arrow "description" %></th>
              <th class="amount-col"><%= sortable "amount", "Amount" %> <%= arrow "amount" %></th>
              <% if current_account.vat_enabled? %>
                <th class="vat-rate-col">VAT rate</th>
                <th class="amount-col">VAT</th>
              <% end %>
            </tr>
          </thead>
          <tbody id="bill_index_table">
            <%# @bills.each do |bill| %>
              <%= render @bills %>
            <%# end %>
          </tbody>
        </table>
      </div><!--end table responsive -->

      <div id="paginator">
        <%= paginate @bills, remote: true %>
      </div>
    </div><!--end panel body -->
  </div><!--end panel -->

</div><!--end container -->

  <!-- Modal -->
  <div class="modal fade" id="bill_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal_title">New Bill</h4>
        </div>
        <div class="modal-body" id="bill_form">
          loading ...
        </div>
        <div class="modal-footer">
<!--=<button type="button" class="action-btn std-btn" data-dismiss="modal">Cancel</button>
          <button type="button" class="create-btn std-btn">Submit</button> -->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
