<% content_for :title do %>BulldogClip | Invoice Setup<% end %>
<% content_for :description do %>BulldogClip settings show page<% end %>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 panel panel-default">
    <div class="panel-body">
      <h1>Invoice Print Settings</h1>

     <a href="#" id="pop" class="info-btn pop"
     data-title="Your Invoice Setup Details"
     data-content="
     <ul class='info-ul'>
     <li>Your details will appear on any 'invoices' you print.</li>
     <li>Complete your bank account details if you want to also print them on invoices. Note that at an individual document level you can also select by tick box to show or not show these details.</li>
     <li>You can also set the document header (e.g. 'Invoice' or 'Expense Claim') at the document level.</li>
     <li>Use the 'Edit' button to add or update your details.</li>
     </ul>">
     <img src=<%= asset_path('info_btn.png') %> alt="info button" class="info-img"/>
     </a>
     <br>
    <h2 class="form-sub-head">Your Address Details</h2>
      <table class="account-details">
        <tr>
          <td class="td-name">Name</td><td class="td-content"><%= @setting.name %></td>
        </tr>
        <tr>
          <td class="td-name">Address</td><td class="td-content"><%= simple_format("#{@setting.address}") %></td>
        </tr>
        <tr>
          <td class="td-name">Postcode</td><td class="td-content"><%= @setting.postcode %></td>
        </tr>
        <tr>
          <td class="td-name">Telephone No.</td><td class="td-content"><%= @setting.telephone %></td>
        </tr>
        <tr>
          <td class="td-name">Email address</td><td class="td-content"><%= @setting.email %></td>
        </tr>
      </table>
    <br>
    <h2 class="form-sub-head">Your Bank Details <small>(optional)</small></h2>
      <table class="account-details">
        <tr>
          <td class="td-name">Account Name</td><td class="td-content"><%= @setting.bank_account_name %></td>
        </tr>
        <tr>
          <td class="td-name">Bank Name</td><td class="td-content"><%= @setting.bank_name %></td>
        </tr>
        <tr>
          <td class="td-name">Branch Name</td><td class="td-content"><%= @setting.bank_address %></td>
        </tr>
        <tr>
          <td class="td-name">Account Number</td><td class="td-content"><%= @setting.bank_account_no %></td>
        </tr>
        <tr>
          <td class="td-name">Sort Code</td><td class="td-content"><%= @setting.bank_sort %></td>
        </tr>
        <tr>
          <td class="td-name">BIC</td><td class="td-content"><%= @setting.bank_bic %></td>
        </tr>
        <tr>
          <td class="td-name">IBAN</td><td class="td-content"><%= @setting.bank_iban %></td>
        </tr>
      </table>
      <br/>
      <% if current_account.vat_enabled? %>
        <h2 class="form-sub-head">Your VAT Details</h2>
          <table class="account-details">
            <tr>
              <td class="td-name">VAT Registration Number</td><td class="td-content"><%= @setting.vat_reg_no %></td>
            </tr>
          </table>
        <br>
      <% end %>

      <h2 class="form-sub-head">Printing Preferences <small>(set defaults)</small></h2>

      <table class="account-details">
      <% if current_account.vat_enabled? %>
        <tr>
          <td class="td-name">Include VAT?</td><td class="td-content"><%= @setting.include_vat ? "yes" : "no" %></td>
        </tr>
      <% end %>
        <tr>
          <td class="td-name">Include Bank Details?</td><td class="td-content"><%= @setting.include_bank ? "yes" : "no" %></td>
        </tr>
      </table>

      <% if current_account.business? %>
        <table class="account-details">
          <tr>
            <td class="td-name">Logo</td><td class="td-content"><%= logo_thumb(@setting) %></td>
          </tr>
        </table>
      <% end %>

      <%= link_to 'Edit', edit_setting_path(@setting), class: "create-btn std-btn", data: {toggle: "tooltip"}, title: "Edit invoice print settings"  %>
    </div>
  </div>
</div>