<% content_for :title do %>Bulldog-Clip | Customers<% end %>
<% content_for :description do %>lists Customers<% end %>
<h1>Customers</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Postcode</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr title="click to edit", class="pointer rowlink",
          data-rowlink="<%= edit_customer_path(customer)%>">
        <td><%= customer.name %></td>
        <td><%= simple_format("#{customer.address}") %></td>
        <td><%= customer.postcode %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Customer', new_customer_path, class: 'btn btn-primary' %>