<% content_for :title do %>BulldogClip | Customers<% end %>
<% content_for :description do %>lists Customers<% end %>


<div class="container">
  <div class="panel panel-default col-md-6 col-md-offset-3">
    <div class="panel-body">

<h1>Customers</h1>
     <a href="#" id="pop" class="info-btn pop"
     data-title="Edit Customer Details"
     data-content="
     <ul class='info-ul'>
     <li>These are the details that will appear on your invoices.</li>
     <li>Select a customer from the table to update their details.</li>
     </ul>">
     <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
     </a>

    <div>
      <%= link_to 'New Customer', new_customer_path, class: 'create-btn std-btn', data: {toggle: "tooltip"}, title: "Create a new customer"  %>
    </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="first-col customer-name">Name</th>
              <th class="customer-address">Address</th>
              <th class="customer-postcode">Postcode</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr title="click to edit" class="pointer rowlink"
                  data-rowlink="<%= edit_customer_path(customer)%>">
                <td class="first-col customer-name"><%= customer.name %></td>
                <td class="customer-address"><%= simple_format("#{customer.address}") %></td>
                <td class="customer-postcode"><%= customer.postcode %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>