<% content_for :title do %>Bulldog-Clip | Home<% end %>
<% content_for :description do %>A place to keep receipts<% end %>


<!-- BODY CONTAINER -->

<div class="landing-page container">
    <div class="row landing-top-row">
        <img src="/assets/door_dog.png" alt="Bills Image" class="bills-img img-responsive">
        <!-- <img src="/assets/clipped_bills.png" alt="Bills Image" class="bills-img img-responsive"> -->
    </div>
    <div class="row strapline arrow-box">
      <h1 class="strapline">Capture, analyse and reclaim your expenses</h1>
    </div>
</div><!--end landing-page container-->

<!-- Sub Heading -->
<div class="row strapline">
  <h1 class="strapline">Bulldog Clip is...</h1>
</div><!--end row strapline-->
<hr>

<!-- Section 1 - Capture -->
<div class="container landing-info">
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>A simple way to <br>capture your costs</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/capture.png" alt="Clipped bills" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>Simple by design. Minimal set up. Fast and easy to use. No more complex spreadsheets. <a href="/features#bills" class="read-more">Read more<a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
        <%= link_to 'Sign me up now', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
      </div>
    </div>
  </section>
</div>

<!-- Section 2 - Analyse-->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>See at a glance where<br> the money has gone</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/pie_chart.png" alt="Pie Chart" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>Select from a range of charts to visualise your data. Quickly identify spending patterns. View your costs by date, category, supplier or customer. Easily export your data tables for use elsewhere - or as a backup. <a href="/features#analysis" class="read-more">Read more<a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
        <%= link_to 'Sign me up now', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
      </div>
    </div>
  </section>
</div>

<!-- Section 3 - Reclaim -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>Custom invoice and <br>expense claims</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/invoice_screenshot.png" alt="Invoice" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>One click generates a formatted invoice or expense claim. <br>Choose to customise with your company details and logo. Recharge your clients, reclaim from your employer or provide itemised backup to your bookkeeper. <a href="/features#invoices" class="read-more">Read more<a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
        <%= link_to 'Sign me up now', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
      </div>
    </div>
  </section>
</div>

<!-- Section 4 - Simple and Safe -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>Simple Worklow</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
    <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/new_bill.png" alt="File" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p> Save time processing bills. With our simple workflow it is so easy it never becomes a chore. Bulldog Clips intuitive software remembers previous entries so the more you use it the quicker it gets. <a href="/features#customers" class="read-more">Read more<a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
        <%= link_to 'Sign me up now', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
      </div>
    </div>
  </section>
</div>

<!-- Section 4 - Safe and Secure -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
       <h2>Safe and Secure</h2>
      </div>
    </div>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/cloud.png" alt="Pile of bills" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>All your data is encrypted using the familiar, high street bank level of security.<br>The bills are stored in the cloud so they won't be lost if you have an unfortunate incident with your computer. <br>With the export function you can download a copy of your data to your computer. <a href="/features#security" class="read-more">Read more<a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div>

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
        <%= link_to 'Sign me up now', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
      </div>
    </div>
  </section>
</div>

<!-- Section 4 - Access -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>Access anywhere</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
    <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/access.png" alt="File" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>You can use Bulldog Clip on phone and tablet devices as well as your desktop computer. So if you are away from base you can still check in.<br>Because your data is stored in the cloud you can log in securely from anywhere with internet access. <a href="/features#access" class="read-more">Read more<a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
        <%= link_to 'Sign me up now', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
      </div>
    </div>
  </section>
</div>

