<% content_for :title do %>BulldogClip | Home<% end %>
<% content_for :description do %>A place to keep receipts<% end %>


<!-- BODY CONTAINER -->

<div class="landing-page container">
    <div class="row landing-top-row">
        <img src=<%= asset_path('door_dog_pre_production.png') %> alt="Dog waiting for bills image" class="bills-img img-responsive">
    </div>
    <div class="row strapline arrow-box">
      <h1 class="strapline">capture, analyse and reclaim your costs</h1>
      <!-- <h1 class="strapline">A simple way to capture your costs</h1> -->
    </div>
   <div class="row strapline">
  </div>
</div><!--end landing-page container-->


<!-- Section 1 - Capture -->
<div class="container landing-info">
  <section class="container">

<!-- Sub Heading -->
<div class="row strapline">
  <!-- <h1 class="strapline">BulldogClip is...</h1> -->
<hr>
</div><!--end row strapline-->
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>A simple way to <br>capture your costs</h2>
        <!-- <h2> Capture, analyse and <br>reclaim expenses</h2> -->
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src=<%= asset_path('simple_design.png') %> alt="New Bill" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>Simple by design. Minimal set up. Fast and easy to use. <br>No more complex spreadsheets. <a href="/features#bills" class="read-more">Find out more</a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn lg-btn try-now-btn", data: {toggle: "tooltip"}, title: "Try free demo account." %>
        <%= link_to 'Sign me up now', plans_path, class: 'create-btn lg-btn try-now-btn', data: {toggle: "tooltip"}, title: "Sign up for BulldogClip." %>
      </div>
    </div>
  </section>
</div>

<!-- Section 2 - Analyse-->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>See at a glance where<br> the money has gone</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src=<%= asset_path('pie_chart.png') %> alt="Pie Chart" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>A range of charts to visualise your data. Quickly identify spending patterns. Easily export your data for use elsewhere - or as a backup. <a href="/features#analysis" class="read-more">Find out more</a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn lg-btn try-now-btn", data: {toggle: "tooltip"}, title: "Try free demo account." %>
        <%= link_to 'Sign me up now', plans_path, class: 'create-btn lg-btn try-now-btn', data: {toggle: "tooltip"}, title: "Sign up for BulldogClip." %>
      </div>
    </div>
  </section>
</div>

<!-- Section 3 - Reclaim -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>Instant documents</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src=<%= asset_path('documents.png') %> alt="Invoice" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>Quickly create custom documents such as invoices and expense claims. Choose to customise with your company details and logo. <br>Recharge your clients, reclaim from your employer or provide itemised backup to your bookkeeper. <a href="/features#invoices" class="read-more">Find out more</a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn lg-btn try-now-btn", data: {toggle: "tooltip"}, title: "Try free demo account." %>
        <%= link_to 'Sign me up now', plans_path, class: 'create-btn lg-btn try-now-btn', data: {toggle: "tooltip"}, title: "Sign up for BulldogClip." %>
      </div>
    </div>
  </section>
</div>

<!-- Section 7 - VAT Support -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>VAT Support</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
    <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src=<%= asset_path('vat.png') %> alt="File" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>If you are VAT registered or need to record VAT we can support you. <br><a href="/features#vat" class="read-more">Find out more</a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn lg-btn try-now-btn", data: {toggle: "tooltip"}, title: "Try free demo account." %>
        <%= link_to 'Sign me up now', plans_path, class: 'create-btn lg-btn try-now-btn', data: {toggle: "tooltip"}, title: "Sign up for BulldogClip." %>
      </div>
    </div>
  </section>
</div>

<!-- Section 5 - Safe and Secure -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
       <h2>Safe and Secure</h2>
      </div>
    </div>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src=<%= asset_path('cloud.png') %> alt="Pile of bills" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>All your data is encrypted using the familiar, high street bank level of security. The bills are stored in the cloud so they won't be lost if you have an unfortunate incident with your computer. <a href="/features#security" class="read-more">Find out more</a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div>

<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn lg-btn try-now-btn", data: {toggle: "tooltip"}, title: "Try free demo account." %>
        <%= link_to 'Sign me up now', plans_path, class: 'create-btn lg-btn try-now-btn', data: {toggle: "tooltip"}, title: "Sign up for BulldogClip." %>
      </div>
    </div>
  </section>
</div>

<!-- Section 6 - Access -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>Access anywhere</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
    <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src=<%= asset_path('access.png') %> alt="File" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>You can use BulldogClip on phone and tablet devices as well as your desktop computer. So if you are away from base you can still check in.<br>Because your data is stored in the cloud you can log in securely from anywhere with internet access. <a href="/features#access" class="read-more">Find out more</a></p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->


<div class="container landing-info">
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Try now for free", '/try_now', class: "action-btn lg-btn try-now-btn", data: {toggle: "tooltip"}, title: "Try free demo account." %>
        <%= link_to 'Sign me up now', plans_path, class: 'create-btn lg-btn try-now-btn', data: {toggle: "tooltip"}, title: "Sign up for BulldogClip." %>
      </div>
    </div>
  </section>
</div>

