<% content_for :title do %>Bulldog-Clip | Home<% end %>
<% content_for :description do %>A place to keep receipts<% end %>


<!-- BODY CONTAINER -->

<div class="landing-page container">
    <div class="row landing-top-row">
        <img src="/assets/door_dog.png" alt="Bills Image" class="bills-img img-responsive">
    </div>
    <div class="row strapline arrow-box">
      <h1 class="strapline">Capture, analyse and reclaim your expenses</h1>
    </div>
</div><!--end landing-page container-->

<!-- Sub Heading -->
<div class="row strapline">
  <h1 class="strapline">Bulldog Clip is...</h1>
</div><!--end row strapline-->
<!-- <hr> -->

<!-- Section 1 - Capture -->
<div class="container landing-info">
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>A simple way to <br>capture your costs</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/capture.png" alt="Clipped bills" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>Simple by design. Minimal set up. Fast and easy to use. No more complex spreadsheets.</p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="btn-center">
  <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
  <%= link_to 'Sign me up', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
</div>

<!-- Section 2 - Analyse-->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>See at a glance where<br> the money has gone</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/pie_chart.png" alt="Pie Chart" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>A series of charts help you visualise your data. Quickly identify spending patterns. View your costs by date, category, supplier, customer or family member.
         Easily export for further analysis - or just as a backup.</p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="btn-center">
  <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
  <%= link_to 'Sign me up', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
</div>

<!-- Section 3 - Reclaim -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>One click invoice process</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/reclaim.png" alt="Invoice" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>One click to generate a formatted invoice or expense reclaim to recharge your clients, reclaim from your employer and/or to provide itemised backup to your bookkeeper.<br>You might also like to clear a pool of household bills into a monthly statement even if none of these other reasons apply.</p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="btn-center">
  <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
  <%= link_to 'Sign me up', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
</div>

<!-- Section 4 - Simple and Safe -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>Simple Worklow</h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
    <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/store.png" alt="File" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>Although it will work on the go, Bulldog Clip is expected to be used in the comfort of your home or office, not in the bustle of the high street.<br> When you get back to base, empty all of those receipts into a box or, better still, a bulldog clip, ready to process at your leisure.<br>When you do sit down to record them, Bulldog clip makes it so easy it is almost fun and definitely rewarding. Do it little and often and it never becomes a chore.<br>Remember to re-clip the recorded bills away from the unrecorded ones. You don't want to scare yourself by double entering your costs.
        </p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div><!-- end container landing-info -->

<div class="btn-center">
  <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
  <%= link_to 'Sign me up', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
</div>

<!-- Section 4 - Simple Flow -->
<div class="container landing-info">
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
       <h2>Simply Safe and Secure</h2>
      </div>
    </div>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="/assets/bill_pile.png" alt="Pile of bills" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>The entire transaction is encrypted as it goes across the Internet using the familiar, high street bank level of security.<br>The bills are stored in the cloud so do not get lost if you have an unfortunate incident with your computer.<br>At any time, you can take your own backup using one of the the export functions which download a spreadsheet compatible file to your machine.<br>Bills that have been "invoiced" cannot be deleted or edited so they are safe from accidental removal. Of course you can always edit an "invoice" to return bills to the pool if you do need to make a change.</p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <hr>
</div>
<div class="btn-center">
  <%= link_to "Try now for free", '/try_now', class: "action-btn std-btn try-now-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
  <%= link_to 'Sign me up', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
</div>