<% content_for :title do %>BulldogClip | Sign In<% end %>
<% content_for :description do %>Sign in to BulldogClip<% end %>

<div class="container">
  <div class="panel panel-default col-md-4 col-md-offset-4">
    <div class="panel-body">
      <div class="authform">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
          <h1>Sign in</h1>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%- if devise_mapping.registerable? %>
            <%= link_to 'Sign up', plans_path, class: 'pull-right', data: {toggle: "tooltip"}, title: "Sign up for a BulldogClip account" %>
            <% end -%>
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, class: 'form-control', type: "email" %>

          </div>
          <div class="form-group">
            <%- if devise_mapping.recoverable? %>
            <%= link_to "Forgot password?", new_password_path(resource_name), class: 'pull-right', data: {toggle: "tooltip"}, title: "Reset your password" %>
            <% end -%>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
       
          </div>
            <%= f.submit 'Sign in', :class => 'create-btn std-btn pull-right', data: {toggle: "tooltip"}, title: "Sign in to your BulldogClip account" %>
            <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
              </div>
            <% end -%>
        <% end %>
      </div>
    </div>
  </div>
</div>