<% content_for :title do %>Bulldog-Clip | Edit Supplier<% end %>
<% content_for :description do %>Bulldog-Clip edit supplier<% end %>

<div class="container">
  <div class="col-md-4 col-md-offset-4 panel panel-default">
    <div class="panel-body">
      <h1>Rename Supplier</h1>

      <a href="#" id="pop" class="info-btn pop"
         data-title="Rename Categories"
         data-content="
         <ul class='info-ul'>
         <li>Most suppliers have bills associated with them.</li>
         <li>Any bills already linked to the supplier you rename will automatically be reassigned to the new supplier.</li>
         <li>If you use a name that already exists then the two suppliers will be merged.</li>
         <li>To rename a supplier just enter the new name you want to use and click save.</li>
         </ul>">
         <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
      </a>

      <div class="form">
        <%= form_for @supplier do |f| %>
          <%#= f.label :name %>
          <%= f.label :name, "Enter new supplier name" %>
          <%= f.text_field :name, :class => 'supplier-name' %>
        <div class="supplier-btns">
          <%= f.submit 'Save', :class => 'create-btn std-btn' %>
          <%= link_to "Cancel", categories_path, class: "action-btn std-btn" %>
        <% end %>
        </div>
      </div><!--end form-->
    </div><!-- end panel-body -->
  </div><!--end panel -->
</div><!-- end container-->