<% content_for :title do %>BulldogClip | Reports<% end %>
<% content_for :description do %>BulldogClip new report<% end %>

<div class="container">
  <h1>Analysis</h1>
     <a href="#" id="pop" class="info-btn pop"
     data-title="Data Analysis"
     data-content="
     <ul class='info-ul'>
     <li>Pick filters and select 'View' to generate charts and a data table.</li>
     <li>Use the tabs to switch between chart and table views.</li>
     <li>'Clear' removes any filters and resets to all data.</li>
     <li>'Export' on the table view downloads a CSV file of the filtered data</li>
     </ul>">
     <img src=<%= asset_path('info_btn.png') %> alt="info button" class="info-img"/>
     </a>

  <div class="panel panel-default col-lg-4 col-md-5 col-sm-7 analysis_header">
    <div class="panel-body analysis">

      <%= form_for @report do |f| %>
        <%= f.hidden_field :account_id %>
        <h2 class="filter">Filter bills</h2>

        <div class="form-group analysis">
          <%= form_group_for f, :from_date, label: false do %>
            <%= f.label :from_date, class: "analysis"%>
            <%= f.text_field :from_date, class: "date_picker analysis", placeholder: "yyyy-mm-dd" %>
          <% end %>
        </div>
        <div class="form-group analysis">
          <%= form_group_for f, :to_date, label: false do %>
            <%= f.label :to_date, class: "analysis" %>
            <%= f.text_field :to_date, class: "date_picker analysis", placeholder: "yyyy-mm-dd" %>
          <% end %>
        </div>
        <div class="form-group analysis">
        <%= f.collection_select :customer_id, current_account.customers.order(:name), :id, :name, include_blank: true %>
        <%= f.collection_select :supplier_id, current_account.suppliers.order(:name), :id, :name, include_blank: true %>
        <%= f.collection_select :category_id, current_account.categories.order(:name), :id, :name, include_blank: true %>
        </div>
        <%= f.submit 'View', :class => 'create-btn std-btn', data: {toggle: "tooltip"}, title: "Submits filter choices to refresh data" %>
        <%= link_to "Clear", new_report_path, class: "action-btn std-btn", data: {toggle: "tooltip"}, title: "Clear current filters" %>
        <% end %> <!-- end of form -->
    </div><!--end panel body -->
  </div><!--end panel-->

  <div class="panel panel-default analysis-panel">
    <div class="panel-body analysis-panel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#Charts" data-toggle="tab">Charts</a></li>
        <li><a href="#Table" data-toggle="tab">Table</a></li>
      </ul>

      <!-- Tab pane charts -->
      <div class="tab-content">
        <div class="tab-pane active" id="Charts">
          <div class="row">
            <div class="col-md-6">
              <%= pie_chart @report.bills.group("categories.name").references(:category).
                    order("categories.name").
                    sum(:amount),
                    library: {title: "Total by Category"} %>
            </div>
            <div class="col-md-6">
              <%= pie_chart @report.bills.group("suppliers.name").references(:supplier).
                    order("suppliers.name").
                    sum(:amount),
                    library: {title: "Total by Supplier"} %>
            </div>
          </div><!--end of row -->
          <div class="row">
            <div class="col-md-12 chart-total">
              Grand total of all selected bills:  <%= number_to_currency(@report.bills.sum(:amount)) %>
            </div>
          </div>
          <%= column_chart [
            {name: "Last Year", data: @report.bills.last_year_by_monthly_sum},
            {name: "This Year", data: @report.bills.this_year_by_monthly_sum}
          ], library: {title: "Total spend by month"} %>

          <%= line_chart [@report.bills.last_year_by_monthly_count,
            @report.bills.this_year_by_monthly_count],
            discrete: true, library: {title: "Number of bills per month"} %>

        </div><!--end tab pane -->

      <!-- Tab pane tables -->
        <div class="tab-pane" id="Table">
          <div class="row">
            <a id="exportBtn" class="action-btn std-btn btn-right" >Export</a>
          </div>
          <div class="table-responsive">
            <table class="table table-condensed" id="bill_table">
              <thead>
                <tr>
                  <th class="first-col date-col">Date</th>
                  <th class="customer-col">Customer</th>
                  <th class="supplier-col">Supplier</th>
                  <th class="category-col">Category</th>
                  <th class="description-col-sm">Description</th>
                  <th class="amount-col">Amount</th>
                </tr>
              <thead>
              <tbody id="report_bills">
                <%= render 'bills' %>
              </tbody>
            </table>
          </div>
          <div id="paginator">
          <%= paginate @bills, remote: true %>
          </div>
        </div><!--end tab pane -->
      </div><!-- end tab content-->
    </div><!-- end panel body  -->
  </div><!-- end panel -->
</div> <!-- end container -->
