<% content_for :title do %>Bulldog-Clip | Reports<% end %>
<% content_for :description do %>Bulldog-Clip new report<% end %>

<div class="container">
  <h1>Analysis</h1>
    <a href="#" id="pop" class="info-btn pop" data-trigger="hover" data-placement="left" data-container= "body" data-original-title="About this page" data-content="Use the tabs to switch between charts and table views.">
    <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
  </a>
  <div class="panel panel-default col-md-4" style="float:none">
    <div class="panel-body">

      <ul>
        <% @report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

      <%= form_for @report do |f| %>
        <%= f.hidden_field :account_id %>
        <div class="form-group analysis">
        <%= f.label :from_date, class: "analysis"%>
        <%= f.text_field :from_date, class: "date_picker analysis" %>
        </div>
        <div class="form-group analysis">
        <%= f.label :to_date, class: "analysis" %>
        <%= f.text_field :to_date, class: "date_picker analysis" %>
        </div>
        <%= f.collection_select :customer_id, Customer.visible_to(current_user).order(:name), :id, :name, include_blank: true %>
        <%= f.collection_select :supplier_id, Supplier.visible_to(current_user).order(:name), :id, :name, include_blank: true %>
        <%= f.collection_select :category_id, Category.visible_to(current_user).order(:name), :id, :name, include_blank: true %>

        <%= f.submit 'View', :class => 'create-btn std-btn', data: {toggle: "tooltip"}, title: "Submits filter choices to refresh data." %> 
        <%= link_to "Clear", new_report_path, class: "action-btn std-btn", data: {toggle: "tooltip"}, title: "Clear current filters."  %>
        
      <%# end %> <!-- end of form -->
    </div><!--end panel body -->
  </div><!--end panel-->

  <div class="panel panel-default analysis-panel">
    <!-- <div class="panel-body"> -->

      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#Charts" data-toggle="tab">Charts</a></li>
        <li><a href="#Table" data-toggle="tab">Table</a></li>
      </ul>

      <!-- Tab pane charts -->
      <div class="tab-content">
        <div class="tab-pane active" id="Charts">
          <div class="row">
            <div class="col-md-6">
              <%= pie_chart @report.bills.group("categories.name").references(:category).
                    order("categories.name").
                    sum(:amount),
                    library: {title: "Total by Category"} %>
            </div>
            <div class="col-md-6">
              <%= pie_chart @report.bills.group("suppliers.name").references(:supplier).
                    order("suppliers.name").
                    sum(:amount),
                    library: {title: "Total by Supplier"} %>
            </div>
          </div><!--end of row -->
          <%= column_chart [
            {name: "Last Year", data: @report.bills.last_year_by_monthly_sum},
            {name: "This Year", data: @report.bills.this_year_by_monthly_sum}
          ], library: {title: "Total spend by month"} %>
          <%= line_chart @report.bills.group_by_month(:date).count, library: {title: "Number of bills per month"} %>

        </div><!--end tab pane -->

      <!-- Tab pane tables -->
        <div class="tab-pane" id="Table">
        <%= f.submit 'Export', class: 'export-btn std-btn', data: {toggle: "tooltip"}, title: "Export current selection to csv file. Use submit first." %>
        <% end %> <!-- end of form -->
          <div class="table-responsive">
            <table class="table table-condensed" id="bill_table">
              <thead>
                <tr>
                  <th class="first-col">Date</th>
                  <th>Customer</th>
                  <th>Supplier</th>
                  <th>Category</th>
                  <th>Description</th>
                  <th class="align-right">Amount</th>
                </tr>
              <thead>
              <tbody>
                  <% @bills.each do |bill| %>
                      <tr>
                        <td class="first-col"><%= bill.date %></td>
                        <td><%= bill.customer_name %></td>
                        <td><%= bill.supplier_name %></td>
                        <td><%= bill.category_name %></td>
                        <td><%= bill.description %></td>
                        <td class="align-right"><%= number_to_currency(bill.amount) %></td>
                      </tr>        
                  <% end %>
              </tbody>
            </table>
          </div>
          <%= paginate @bills %>
        </div><!--end tab pane -->
      </div><!-- end tab content-->
    </div><!-- end panel body -->
  </div><!-- end panel -->
</div> <!-- end container -->







