<div id="sign_in_modal" class="modal fade sign-in-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title">Sign In</h1>
      </div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}, remote: true) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :email %>
            <%- if devise_mapping.registerable? %>
              <%= link_to 'Sign up', new_registration_path(resource_name), class: 'pull-right', data: {toggle: "tooltip"}, title: "Sign up for a Bulldog Clip account" %>
            <% end -%>
            <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%- if devise_mapping.recoverable? %>
              <%= link_to "Forgot password?", new_password_path(resource_name), class: 'pull-right', data: {toggle: "tooltip"}, title: "Request password reset" %>
            <% end -%>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
            
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <%= f.check_box :remember_me %> <%= f.label :remember_me %>
            </div>
          <% end -%>
      
        </div><!-- /.modal-body -->
        <div class="modal-footer">
          <a class="action-btn std-btn" data-dismiss="modal", data: {toggle: "tooltip"}, title: "Close window">Close</a>
<!--<button type="button" class="action-btn std-btn" data-dismiss="modal">Close</button> -->
          <%= f.submit 'Sign in', :class => 'create-btn std-btn', data: {toggle: "tooltip"}, title: "Sign in to your Bulldog Clip account" %>
        </div>
      <% end %><!-- end of form for -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>