<!-- footer -->

<div class="container footer-background">
    <section class="row">

        <div class="footer-links col-xs-3">
            <dl>
                <dt>
                    Company
                </dt>
                <dd>
                    <%= link_to 'About Us', page_path('about') %>
                </dd>
                <dd>
                    <%= link_to 'Contact Us', new_contact_path %>
                    <%#= link_to 'Contact Us', page_path ('contact') %>
                </dd>
                <dd>
                    <%= link_to 'Press', page_path('press') %>
                </dd>
                <dd>
                    <% if user_signed_in? %>
                    <%= link_to 'Home', page_path('welcome'), data: {toggle: "tooltip"}, title: "Return to home page" %>
                    <% else %>
                    <%= link_to 'Home', page_path('home'), data: {toggle: "tooltip"}, title: "Return to home page" %>
                    <% end %>
                </dd>
            </dl>
        </div>


        <div class="footer-links col-xs-3">
            <dl>
                <dt>
                    Policies and Terms
                </dt>
                <dd>
                    <%= link_to 'Privacy Policy', page_path('privacy'), data: {toggle: "tooltip"}, title: "Read our privacy policy" %>
                </dd>
                <dd>
                    <%= link_to 'Terms and Conditions', page_path('terms'), data: {toggle: "tooltip"}, title: "Read our terms and conditions" %>
                </dd>
                <dd>
                    <%= link_to 'Cookie Policy', page_path('cookies'), data: {toggle: "tooltip"}, title: "Read our cookie policy" %>
                </dd>
            </dl>
        </div>


        <div class="footer-links col-xs-3">
            <dl>
                <dt>
                    Product
                </dt>
                <dd>
                    <%= link_to 'FAQs', page_path('faq'), data: {toggle: "tooltip"}, title: "Read frequently asked questions" %>
                </dd>
                <dd>
                    <%= link_to 'Story', page_path('story'), data: {toggle: "tooltip"}, title: "Read the story behind BulldogClip" %>
                </dd>
                <dd>
                    <%= link_to 'Features', page_path('features'), data: {toggle: "tooltip"}, title: "BulldogClip features" %>
                </dd>
            </dl>
        </div>
    </section><!-- end footer links row -->


    <section class="row">
        <div class="col-sm-6 col-xs-6">
            <p class="copyright">&copy; <%= Time.now.strftime('%Y') %> Owen Bannister Limited. All rights reserved</p>
        </div>
        <div class="col-sm-6 col-xs-6">
          <%- if user_signed_in? %>
            <p class="status">Signed in as: <%= current_user.email %> </p>
          <% else %>
            <p class="status">You are not currently signed in</p>
          <%- end %>
        </div>
    </section><!--end footer copyright row-->
</div><!-- end footer container -->


<%#= debug(params) if Rails.env.development? %>
