<!-- footer -->

            <div class="container">
                <section class="row">

                    <div class="footer-links col-xs-3">
                        <dl>
                            <dt>
                                <a href="#">Company</a>
                            </dt>
                            <dd>
                                <%= link_to 'About Us', page_path('about') %>  
                            </dd>
                            <dd>          
                                <%= link_to 'Contact Us', page_path('about') %>
                            </dd>
                            <dd>
                                <%= link_to 'Privacy and Terms', page_path('about') %> 
                            </dd>
                        </dl>
                    </div>


                    <div class="footer-links col-xs-3">
                        <dl>
                            <dt>
                                <a href="#">Navigation</a>
                            </dt>
                            <dd>
                                <%= link_to 'Site Map', page_path('about') %>
                            </dd>
                            <dd>
                                <%= link_to 'Home', page_path('home') %>
                            </dd>
                        </dl>
                    </div>

                    <div class="footer-links col-xs-3">
                        <dl>
                            <dt>
                                <a href="#">Community</a>
                            </dt>
                            <dd>
                                <a href="#">Twitter</a>  
                            </dd>
                            <dd>          
                                <a href="#">Facebook</a>
                            </dd>
                            <dd> 
                                <a href="#">Linked In</a>
                            </dd>
                            <dd>
                                <a href="#">Blog</a>
                            </dd>
                            <dd>
                                <a href="#">Forum</a>
                             </dd>
                        </dl>
                    </div>

                    <div class="footer-links col-xs-3">
                        <dl>
                            <dt>
                                <%= link_to 'Product', page_path('home') %>
                            </dt>
                            <dd>
                                <%= link_to 'Pricing', page_path('home') %>
                            </dd>
                            <dd>          
                                <%= link_to 'FAQs', page_path('home') %>
                            </dd>
                            <dd> 
                                <%= link_to 'Products Story', page_path('home') %>
                            </dd>
                        </dl>
                    </div>
                </section><!-- end footer links row -->
                

                <section class="row">
                    <div class="col-sm-4 hidden-xs">
                      <img class="pull-left" src="/assets/navbar_logo_reverse.png" alt="Bulldog Clip logo text">
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p>&copy; <%= Time.now.strftime('%Y') %> Owen Bannister Limited. All rights reserved</p> 
                    </div>
                    <div class="col-sm-4 col-xs-12 pull-right">
                      <%- if user_signed_in? %>
                        <p>Signed in as: <%= current_user.email %> </p>
                      <% else %>
                        <p>You are not currently signed in</p>
                      <%- end %>
                    </div>
                </section><!--end footer copyright row-->
            </div><!-- end footer container -->


        <%= debug(params) if Rails.env.development? %>