<!-- footer -->

<div class="container footer-background">
    <section class="row">

        <div class="footer-links col-xs-3">
            <dl>
                <dt>
                    <a href="#">Company</a>
                </dt>
                <dd>
                    <%= link_to 'About Us', page_path('about') %>  
                </dd>
                <dd>          
                    <%= link_to 'Contact Us', page_path('about') %>
                </dd>
                <dd>
                    <%= link_to 'Privacy and Terms', page_path('about') %> 
                </dd>
            </dl>
        </div>


        <div class="footer-links col-xs-3">
            <dl>
                <dt>
                    <a href="#">Navigation</a>
                </dt>
                <dd>
                    <%= link_to 'Site Map', page_path('about') %>
                </dd>
                <dd>
                    <%= link_to 'Home', page_path('home') %>
                </dd>
            </dl>
        </div>

        <div class="footer-links col-xs-3">
            <dl>
                <dt>
                    <a href="#">Community</a>
                </dt>
                <dd>
                    <a href="#">Twitter</a>  
                </dd>
                <dd>          
                    <a href="#">Facebook</a>
                </dd>
                <dd> 
                    <a href="#">Linked In</a>
                </dd>
                <dd>
                    <a href="#">Blog</a>
                </dd>
                <dd>
                    <a href="#">Forum</a>
                 </dd>
            </dl>
        </div>

        <div class="footer-links col-xs-3">
            <dl>
                <dt>
                    <%= link_to 'Product', page_path('home') %>
                </dt>
                <dd>
                    <%= link_to 'Pricing', page_path('pricing') %>
                </dd>
                <dd>          
                    <%= link_to 'FAQs', page_path('faq') %>
                </dd>
                <dd> 
                    <%= link_to 'Story', page_path('story') %>
                </dd>
            </dl>
        </div>
    </section><!-- end footer links row -->
    

    <section class="row">
        <div class="col-sm-6 col-xs-6">
            <p class="copyright">&copy; <%= Time.now.strftime('%Y') %> Owen Bannister Limited. All rights reserved</p> 
        </div>
        <div class="col-sm-6 col-xs-6">
          <%- if user_signed_in? %>
            <p class="status">Signed in as: <%= current_user.email %> </p>
          <% else %>
            <p class="status">You are not currently signed in</p>
          <%- end %>
        </div>
    </section><!--end footer copyright row-->
</div><!-- end footer container -->


<%#= debug(params) if Rails.env.development? %>
