
<nav class="navbar-wrapper container">
  <div class="navbar-container container">
    <div class="navbar-row row" id="navbar">

      <div class="col-sm-6 col-xs-6 col-xxs-3 logo-col">
        <%= link_to (image_tag 'bulldog_clip_navbar_logo.png', class: 'img-responsive'), root_path, class: 'navbar-logo pull-left' %>
        <%= link_to (image_tag 'bulldog_clip_navbar_icon.png', class: 'navbar-icon'), root_path, class: 'navbar-icon pull-left' %>
      </div><!-- end logo-col -->

      <div class="col-sm-6 col-xs-6 col-xxs-9 btn-col">
      <% if user_signed_in? %>
        <a class="nav-btn" id="subnavBtn">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-btn' %>
      <% else %>
            <%#= link_to 'Sign in', new_user_session_path, class: 'nav-btn' %><!--replaced by modal remote sign in -->
            <%= link_to 'Sign in', remote_sign_in_path, remote: true, class: 'nav-btn' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'nav-btn' %>
      <% end %>
      </div><!-- end logo-col -->

    </div><!--end navbar-row-->
  </div><!--end navbar-container-->

  <!-- SUBNAV -->
  <% if user_signed_in? %>
  <div class="subnav-container container hidden" role="menu" id="subnav">
    <div class="subnav-row row">
      <div class="subnav-col col-sm-6 col-sm-offset-1 col-xs-12 justified-nav">
            <div class="subnav-link"><%= link_to 'Bills', bills_path, class: 'subnav-btn active' %></div>
            <div class="subnav-link"><%= link_to 'Invoices', invoices_path, class: 'subnav-btn' %></div>
            <div class="subnav-link"><%= link_to 'Analysis', new_report_path, class: 'subnav-btn' %></div>
      </div>
      <div class="subnav-col col-sm-4 col-xs-12 justified-nav">
            <!-- <div class="subnav-link"><#%= link_to 'Customers', customers_path, class: 'subnav-btn' %></div> -->
            <!-- <div class="subnav-link"><#%= link_to 'Categories', categories_path, class: 'subnav-btn' %></div> -->
            <!-- <div class="subnav-link"><#%= link_to 'Account', account_path(current_user.account.id), class: 'subnav-btn' %> -->
<!-- DROPDOWN TOOLS MENU -->
             <div class="subnav-link">
              <li class="dropdown">
<!--                 <a href="#" class="dropdown-toggle subnav-btn" data-toggle="dropdown">Account<b class="caret"></b></a>      -->           
<a href="#" class="dropdown-toggle subnav-btn" data-toggle="dropdown">Tools</a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Customers', customers_path, class: 'menu-item' %></li>
                  <hr>
                  <li><%= link_to 'Categories', categories_path, class: 'menu-item' %></li>
                  <hr>
                  <li><a href="#" class="menu-item">Suppliers</a></li>
                  <hr>
                  <li><a href="#" class="menu-item">VAT Rates</a></li>      
                  <hr>
                  <li><a href="#" class="menu-item">Invoice Setup</a></li>
                </ul>
              </li>
            </div>
      </div><!-- end subnav-links-->


<!-- DROPDOWN ACCOUNTS MENU -->             
             <div class="subnav-link">
              <li class="dropdown">
<!--                 <a href="#" class="dropdown-toggle subnav-btn" data-toggle="dropdown">Account<b class="caret"></b></a>      -->           
<a href="#" class="dropdown-toggle subnav-btn" data-toggle="dropdown">Account</a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Change Password', edit_user_registration_path, class: "menu-item" %></li>
                  <hr>
                  <li><a href="#" class="menu-item">Change Email Address</a></li>
                  <hr>
                  <li><a href="#" class="menu-item">Manage Subscription</a></li>
                </ul>
              </li>
            </div>
      </div><!-- end subnav-links-->
    </div><!--end subnav-row --> 
    </div><!--end subnav-container-->
   <% end %>
</nav><!--end navbar wrapper containing nav and subnav-->








