
<nav class="navbar-wrapper container">
  <div class="navbar-container container">
    <div class="navbar-row row">

      <div class="col-sm-6 logo-col">
        <%= link_to (image_tag 'navbar_logo.png'), root_path, class: 'navbar-logo pull-left' %>
      </div><!-- end logo-col -->

      <div class="col-sm-6 btn-col">
      <% if user_signed_in? %>
        <a class="nav-btn" id="subnavBtn">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-btn' %>
      <% else %>
            <%#= link_to 'Sign in', new_user_session_path, class: 'nav-btn' %><!--replaced by modal remote sign in -->
            <%= link_to 'Sign In', remote_sign_in_path, remote: true, class: 'std-btn' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'std-btn' %>
      <% end %>
      </div><!-- end logo-col -->

    </div><!--end navbar-row-->
  </div><!--end navbar-container-->

  <!-- SUBNAV -->
  <% if user_signed_in? %>
  <div class="subnav-container container hidden" role="menu" id="subnav">
    <div class="subnav-row row">
      <div class="subnav-col col-sm-6 col-xs-12 justified-nav">
            <div class="subnav-link"><%= link_to 'Bills', bills_path, class: 'subnav-btn active' %></div>
            <div class="subnav-link"><%= link_to 'Invoices', invoices_path, class: 'subnav-btn' %></div>
            <div class="subnav-link"><%= link_to 'Reports', new_report_path, class: 'subnav-btn' %></div>
      </div>
      <div class="subnav-col col-sm-6 col-xs-12 justified-nav">
            <div class="subnav-link"><%= link_to 'Account', account_path(current_user.account.id), class: 'subnav-btn' %></div>
            <div class="subnav-link"><%= link_to 'Customers', customers_path, class: 'subnav-btn' %></div>
            <div class="subnav-link"><%= link_to 'Categories', categories_path, class: 'subnav-btn' %></div>
      </div><!-- end subnav-links-->
    </div><!--end subnav-row --> 
    </div><!--end subnav-container-->
   <% end %>
</nav><!--end navbar wrapper containing nav and subnav-->
