<%# add navigation links to this file %>
<!-- <li><%#= link_to 'Home', page_path('home') %></li> -->
<!-- <li><%#= link_to 'About Us', page_path('about') %></li> -->
<% if user_signed_in? %>
  <a class="nav-btn">
    <span class="sr-only">Toggle navigation</span>
    <span class="glyphicon glyphicon-align-justify"></span>
  </a>

  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-btn' %>
<% else %>

  <li><a href="#">Pricing</a></li>
  <li><a href="#">Free Demo</a></li>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Remote Sign in', remote_sign_in_path, remote: true %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>

<% end %>

<nav class="navbar" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav nav-justified navbar-link">
      <li><%= link_to 'Bills', bills_path %></li>
      <li><%= link_to 'Invoices', invoices_path %></li>
      <li><%= link_to 'Reports', new_report_path %></li>
      <li>Tools</li>
    </ul>
  </div> 
</nav>

<li><%= link_to 'Account', account_path(current_user.account.id) %></li>
    <li><%= link_to 'Customers', customers_path %></li>
    <li><%= link_to 'Categories', categories_path %></li>
