<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bulldog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bulldog" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  </head>
  <body><a name="top"></a><!--makes back to top of page links work-->
    <header role="navigation">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/flashes' %>
       <%= yield %>
    </main>
    <footer role="contentinfo">
    <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
