<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bulldog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bulldog" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <link rel="shortcut icon" href=<%= asset_path('favicon.ico') %> type="image/x-icon" />
    <link rel="apple-touch-icon" href=<%= asset_path('apple-touch-icon.png') %> />
    <link rel="apple-touch-icon" sizes="57x57" href=<%= asset_path('apple-touch-icon-57x57.png') %> />
    <link rel="apple-touch-icon" sizes="72x72" href=<%= asset_path('apple-touch-icon-72x72.png') %> />
    <link rel="apple-touch-icon" sizes="76x76" href=<%= asset_path('apple-touch-icon-76x76.png') %> />
    <link rel="apple-touch-icon" sizes="114x114" href=<%= asset_path('apple-touch-icon-114x114.png') %> />
    <link rel="apple-touch-icon" sizes="120x120" href=<%= asset_path('apple-touch-icon-120x120.png') %> />
    <link rel="apple-touch-icon" sizes="144x144" href=<%= asset_path('apple-touch-icon-144x144.png') %> />
    <link rel="apple-touch-icon" sizes="152x152" href=<%= asset_path('apple-touch-icon-152x152.png') %> />
    <link href="//vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/4.7/video.js"></script>
    <%#= javascript_include_tag "https://vjs.zencdn.net/4.6/video.js", "application", "data-turbolinks-track" => true %>
    <%#= stylesheet_link_tag "https://vjs.zencdn.net/4.6/video-js.css", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
    <%#= stripe_javascript_tag %><!--stripe-rails helper uses js.stripe.com/v1/ and I am trying to avoid it -->
    <%= csrf_meta_tags %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>" >
  <a name="top"></a><!--makes back to top of page links work-->
    <header role="navigation">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/flashes' %>
       <%= yield %>
    </main>
    <footer role="contentinfo">
    <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
