<%= form_for @account do |f| %>

  <%= form_group_for f, :name, label: false do %>
    <div class="input-group name">
      <%= f.label :name, "Account name*" %>
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Enter account name' %>
    </div>
  <% end %>

  <%= form_group_for f, :vat_enabled, label: false do %>
    <div class="input-group vat-check">
      <%= f.label "Enable VAT on bills?" %>
      <%= f.check_box :vat_enabled, id: 'check_vat' %>
    </div>
  <% end %>

  <%= f.submit 'Save', :class => 'create-btn std-btn', data: {toggle: "tooltip"}, title: "Save account settings"  %>
  <%= link_to 'Cancel', account_path(@account), class: 'action-btn std-btn', data: {toggle: "tooltip"}, title: "Cancel and return to account details"  %>

<% end %>
