<% content_for :title do %>BulldogClip | New Account<% end %>
<% content_for :description do %>Create new account<% end %>

<div class="container stripe">
  <div class="col-md-4 col-md-offset-4 panel panel-default stripe">
    <div class="stripe-header">
      <h1 class="secure"><%= @title %></h1>
    </div>
    <hr>
    <div class="stripe-secure">
      <img src=<%= asset_path('padlock.png') %> alt="padlock" class="secure img-responsive">
      <p class="secure">SSL encrypted secure<br>card payment</p>
      <img src=<%= asset_path('stripe.png') %> alt="powered by stripe" class="stripe-power pull-right">
    </div>
    <%= form_for @account do |f| %>
    <div class="panel-body sensitive well">
      <%= f.hidden_field :plan_id %>
      <%= f.hidden_field :stripe_card_token %>
      <%= form_group_for f, :name, label: false do %>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Account name' %>
      <% end %>
      <%= form_group_for f, :email, label: false do %>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Verification email sent here' %>
      <% end %>
      <% if @account.stripe_card_token.present? && @account.errors[:base].empty?%>
        Credit card has been provided.
      <% else %>
      <div class="field card-type">
        <label for="card_type">Card Type</label>
          <select name="card-type" id="card_type">
            <option value="1">Visa</option>
            <option value="2">Mastercard</option>
            <option value="3">American Express</option>
          </select>
        <img src=<%= asset_path('cc.png') %> alt="card types accepted" class="cards">
      </div>
      <div class="field">
        <%= label_tag :card_number, "Card Number" %>
        <%= text_field_tag :card_number, nil, name: nil, class: "form-control", placeholder: "Enter 16 digit card number", type: "number" %>
      </div>
      <div class="row">
        <div class="col-xs-7 cvc-exp">
          <div class="field">
            <%= label_tag :card_code, "CVC", class: "cvc" %>
            <%= text_field_tag :card_code, nil, name: nil, class: "form-control cvc", placeholder: "123", type: "number" %>
            <img src=<%= asset_path('cvc.png') %> alt="CVC on back of card" class="cvc">
          </div>
          <div class="field card-expiration" >
            <%= label_tag :card_month, "Expiry Date" %>
            <%= select_month nil, {use_two_digit_numbers: true}, {name: nil, id: "card_month"} %>
            <span class="exp-date">/</span>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
          </div>
        </div>
        <div class="col-xs-5 price">
          <div class="row">
            <h3 class="price"><%= @price %></h3>
            <p class="interval"><%= @interval %></p>
          </div>
        </div>
      </div>
      <% end %><!-- end of else -->
    </div><!-- end sensitive well -->
    <div id="stripe_error" class="stripe-error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
    <div class="subscribe pull-right">
    <%= f.submit "Subscribe Now", class: "create-btn std-btn lg-btn pay", data: {toggle: "tooltip"}, title: "Submit payment details and subscribe to BulldogClip" %>
    </div>
    <% end %><!-- end of the form -->
  </div><!-- end panel-default -->
</div><!-- end container -->
