<% content_for :title do %>BulldogClip | New Account<% end %>
<% content_for :description do %>Create new account<% end %>

<div class="container stripe">
  <div class="col-md-4 col-md-offset-4 panel panel-default stripe">
    <div class="stripe-header">
      <h1 class="secure"><%= @title %></h1>
    </div>
    <hr>
    <%= form_for @account do |f| %>
    <div class="panel-body sensitive well">
      <%= f.hidden_field :plan_id %>
      <%= form_group_for f, :name, label: false do %>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Your name' %>
      <% end %>
      <%= form_group_for f, :email, label: false do %>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Verification email sent here' %>
      <% end %>

      <div class="checkbox contact-us">
        <%= f.check_box :mail_list, checked: 'checked' %>
        <%= f.label :mail_list, 'Please add me to the mailing list' %>
      </div>
    </div><!-- end sensitive well -->
    <div class="col-xs-5 price">
      <div class="row">
        <p class="interval">30 days free then</p>
        <h3 class="price"><%= @price %></h3>
        <p class="interval"><%= @interval %></p>
      </div>
    </div>
    <div class="col-xs-7 subscribe">
    <%= f.submit "Subscribe Now", class: "create-btn std-btn lg-btn pay pull-right", data: {toggle: "tooltip"}, title: "Submit payment details and subscribe to BulldogClip", id: "ga_subscribe" %>
    </div>
    <% end %><!-- end of the form -->
  </div><!-- end panel-default -->
</div><!-- end container -->
