<% content_for :title do %>Bulldog-Clip | Account<% end %>
<% content_for :description do %>User account details<% end %>

<h1>Account Details</h1>
<table>
  <tr>
    <td>Name</td><td><%= @account.name %></td>
  </tr>
  <tr>
    <td>Address</td><td><%= simple_format("#{@account.address}") %></td>
  </tr>
  <tr>
    <td>Postcode</td><td><%= @account.postcode %></td>
  </tr>
  <tr>
    <td>Include bank details?</td><td><%= @account.include_bank ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <td>Account Name</td><td><%= @account.bank_account_name %></td>
  </tr>
  <tr>
    <td>Bank Name</td><td><%= @account.bank_name %></td>
  </tr>
  <tr>
    <td>Branch Name</td><td><%= @account.bank_address %></td>
  </tr>
  <tr>
    <td>Account Number</td><td><%= @account.bank_account_no %></td>
  </tr>
  <tr>
    <td>Sort Code</td><td><%= @account.bank_sort %></td>
  </tr>
  <tr>
    <td>BIC</td><td><%= @account.bank_bic %></td>
  </tr>
  <tr>
    <td>IBAN</td><td><%= @account.bank_iban %></td>
  </tr>
</table>
<br/>

<%= link_to 'Edit', edit_account_path(@account), class: "btn btn-primary" %>
<%= link_to 'Change Password', edit_user_registration_path, class: "btn btn-primary" %>
