<% content_for :title do %>Bulldog-Clip | Account<% end %>
<% content_for :description do %>User account details<% end %>

<div class="container">
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 panel panel-default">
    <div class="panel-body">
      <h1>Account Details</h1>

     <a href="#" id="pop" class="info-btn pop"  
     data-title="Your Account Details" 
     data-content="
     <ul class='info-ul'>
     <li>Your account details will be used in any invoices you create.</li>
     <li>Bank account details will only appear if you have selected to include them.</li>
     <li>Use the 'Edit' button to update your details.</li>
     <li>To change your account email address or password select 'Change password'</li>      
     </ul>">
     <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
     </a>

      <table class="account-details">
        <tr>
          <td class="td-name">Name</td><td class="td-content"><%= @account.name %></td>
        </tr>
        <tr>
          <td class="td-name">Address</td><td class="td-content"><%= simple_format("#{@account.address}") %></td>
        </tr>
        <tr>
          <td class="td-name">Postcode</td><td class="td-content"><%= @account.postcode %></td>
        </tr>
        <tr>
          <td class="td-name">Invoice heading</td><td class="td-content"><%= @account.invoice_heading %></td>
        </tr>
        <tr>
          <td class="td-name">Include bank details?</td><td class="td-content"><%= @account.include_bank ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <td class="td-name">Account Name</td><td class="td-content"><%= @account.bank_account_name %></td>
        </tr>
        <tr>
          <td class="td-name">Bank Name</td><td class="td-content"><%= @account.bank_name %></td>
        </tr>
        <tr>
          <td class="td-name">Branch Name</td><td class="td-content"><%= @account.bank_address %></td>
        </tr>
        <tr>
          <td class="td-name">Account Number</td><td class="td-content"><%= @account.bank_account_no %></td>
        </tr>
        <tr>
          <td class="td-name">Sort Code</td><td class="td-content"><%= @account.bank_sort %></td>
        </tr>
        <tr>
          <td class="td-name">BIC</td><td class="td-content"><%= @account.bank_bic %></td>
        </tr>
        <tr>
          <td class="td-name">IBAN</td><td class="td-content"><%= @account.bank_iban %></td>
        </tr>
      </table>
      <br/>

      <%= link_to 'Edit', edit_account_path(@account), class: "create-btn std-btn" %>
      <%= link_to 'Change Password', edit_user_registration_path, class: "warn-btn std-btn" %>
    </div>
  </div>
</div>
