<% content_for :title do %>BulldogClip | Account<% end %>
<% content_for :description do %>User account details<% end %>

<div class="container">
  <div class="col-sm-6 col-sm-offset-3 panel panel-default">
    <div class="panel-body">
      <h1>Account Details</h1>

     <a href="#" id="pop" class="info-btn pop"
     data-title="Your Account Details"
     data-content="
     <ul class='info-ul'>
     <li>Settings that apply to your Account. See also 'Tools - Invoice Setup for invoice specific settings</li>
     <li>Use the 'Edit' button to update your details.</li>
     </ul>">
     <img src=<%= asset_path('info_btn.png') %> alt="info button" class="info-img"/>
     </a>

      <table class="account-details">
        <tr>
          <td class="td-name">Name</td><td class="td-content"><%= @account.name %></td>
        </tr>

        <% if @account.business? %>
          <tr>
            <td class="td-name">Enable VAT on bills?</td>
            <td class="td-content"><%= @account.vat_enabled? ? "Yes" : "No" %></td>
          </tr>
        <% end %>

        <tr>
          <td class="td-name">Current Plan</td>
          <td class="td-content"><%= @account.plan.name %></td>
        </tr>

      </table>
      <br/>

      <%= link_to 'Edit', edit_account_path(@account), class: "create-btn std-btn", data: {toggle: "tooltip"}, title: "Edit account settings"  %>
      <%#= link_to 'Change Password', edit_user_registration_path, class: "warn-btn std-btn" %>
    </div>
  </div>
</div>
